{{ header }}
<main id="information-about">
  <div class="about-banner">
    <div class="about-banner-item col-m-1 flex-center-all hide-mobile">
      <ul class="about-banner-list sub-header solid-white">
        <li>Амурская область</li>
        <li>Хабаровский край</li>
        <li>Приморский край</li>
        <li>Остров Сахалин</li>
      </ul>
    </div>
    <div class="about-banner-text col-m-3 col-xs-12 flex-center-all">
      <h1 class="display-2 solid-white uppercase">Более 10 лет поставляем строительное оборудование для вас</h1>
    </div>
    <div class="about-banner-item col-m-1 flex-center-all hide-mobile">
      <img src="image/banner-map.png">
    </div>
  </div>
  <div class="about-banner about-banner-mobile mobile flex-justify">
    <div class="about-banner-item col-xs-6 left">
      <ul class="about-banner-list sub-header solid-white">
        <li>Амурская область</li>
        <li>Хабаровский край</li>
        <li>Приморский край</li>
        <li>Остров Сахалин</li>
      </ul>
    </div>
    <div class="about-banner-item col-xs-6 right">
      <img src="image/banner-map.png">
    </div>
  </div>
  <section class="about-section col-m-3 col-center">
    <h2 class="uppercase">ПОСТАВЩИКИ «МЕТИЗ КОМПЛЕКТ» - ВЕДУЩИЕ ЗАВОДЫ РОССИИ, БЕЛАРУСИ И УКРАИНЫ</h2>
    <p class="body-3">Мы специализируемся на поставке метизов, крепежа, грузоподъемного оборудования, инженерных систем.<br><br> Компания «Метиз Комплект» удовлетворяет потребности самых разных клиентов – от розничных покупателей до крупных производителей и строительных организаций. Продукция, предоставляемая компанией, используется практически во всех отраслях промышленности: авиационной, электротехнической, химической, автомобилестроении, строительной отрасли, сельском хозяйстве.</p>
  </section>
  <section class="about-section col-m-3 col-center">
    <h2 class="uppercase">Собственное производство</h2>
    <p class="body-3">В арсенале компании находится два высоко оборудованных цеха: механический, сварочный, которые прекрасно взаимодействуют друг с другом и дают отличный результат. Основное преимущество компании Высокое качество и Оперативность выполнения заказа, от 8 часов!</p>
  </section>
  <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block">
    <div>
      <img src="image/develop-1.jpg" alt="Собственные цеха по производству">
    </div>  
    <div>
      <img src="image/develop-2.jpg" alt="Собственные цеха по производству">
    </div>  
  </div>
  <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block">
    <div>
      <img src="image/develop-3.jpg" alt="Собственные цеха по производству">
    </div>  
    <div>
      <img src="image/develop-4.jpg" alt="Собственные цеха по производству">
    </div>  
  </div>
  <section class="about-section col-m-3 col-center">
    <h2 class="uppercase">Долгосрочные отношения с клиентами</h2>
    <p class="body-3">Мы постоянно работаем над улучшением качества наших услуг. Для клиентов раз-работана система скидок: накопительные скидки, сезонные скидки и скидки на разовые покупки. У нас отлаженная транспортно-логистическая цепочка доставки товара в любую точку страны.</p>
  </section>
  <section class="about-section col-m-3 col-center">
    <h2 class="uppercase">Сеть магазинов</h2>
    <p class="body-3">Компания «Метиз Комплект» имеет свою сеть магазинов «Железяка» в большинстве районов г. Хабаровск. В магазинах представлен огромнейший ассортимент товаров, среди которых каждый покупатель найдет все необходимое.</p>
  </section>
  <div class="develop-image magazine-image flex-center flex-list col-m-3 col-center mobile-block">
    <div>
      <img src="image/magazine.png" alt="Железяка бутик">
      <p class="body-3">г Хабаровск, ул Промышленная 12<br>тел +7(4212) 47-86-87</p>
    </div>  
    <div>
      <img src="image/magazine.png" alt="Железяка бутик">
      <p class="body-3">г Хабаровск, ул Суворова 12<br>тел +7(4212) 910-010</p>
    </div>
    <div>
      <img src="image/magazine.png" alt="Железяка бутик">
      <p class="body-3">г Хабаровск, ул Иртышская 25<br>тел +7(4212) 91-90-43 (доб 109)</p>
    </div>  
  </div>
  <section class="about-section col-m-3 col-center">
    <h2 class="uppercase">Сертификаты соответствия</h2>
    <p class="body-3">Мы постоянно работаем над улучшением качества наших услуг. Для клиентов разработана система скидок: накопительные скидки, сезонные скидки и скидки на разовые покупки. У нас отлаженная транспортно-логистическая цепочка доставки товара в любую точку страны.</p>
  </section>
  <div class="about-cert">
    <img class="minimized" src="image/Capture4.jpg" alt="Сертификаты">
    <img class="minimized" src="image/Capture.jpg" alt="Сертификаты">
    <img class="minimized" src="image/Capture2.jpg" alt="Сертификаты">
    <img class="minimized" src="image/Capture3.jpg" alt="Сертификаты">
  </div>
  <section class="about-section col-m-3 col-center">
    <h2 class="uppercase">Собственный автопарк</h2>
    <p class="body-3">Благодаря большому автопарку, наша компания может гарантировать сроки и качество доставки разногабаритной продукции в любых объемах.<br><br>Мы предлагаем:<br>– Улучшенный сервис<br>– Контроль и возможность отслеживания груза<br>– Финансовая стабильность, индивидуальные условия<br><br>Осуществляем доставку по всему региону.</p>
  </section>
  <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block">
    <div>
      <img src="image/avtopark-1.jpg" alt="Собственные цеха по производству">
    </div>  
    <div>
      <img src="image/avtopark-2.jpg" alt="Собственные цеха по производству">
    </div>  
  </div>
  <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block">
    <div>
      <img src="image/avtopark-3.jpg" alt="Собственные цеха по производству">
    </div>  
    <div>
      <img src="image/avtopark-4.jpg" alt="Собственные цеха по производству">
    </div>  
  </div>
  <section class="about-team col-l-3 col-m-4 col-center">
    <h2 class="uppercase">Команда Метиз Комплект</h2>
    <div class="row">
      <div class="flex-container flex-justify flex-wrap about-team-devochki center">
        {% if not city or city == 'Хабаровск' %}
          <div>
            <img src="/image/devochki/khab/makarova.png" alt="Наталья Макарова">
            <h3 class="display-1">Наталья Макарова</h3>
            <p class="dark-gray">Коммерческий директор</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +74212919043" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-43 + 105</a>
            </div>
            <p><a href="mailto: 201277@mk-27.ru" class="primary-red buy_2_click">201277@mk-27.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/khab/belozor.png" alt="Ольга Белозор">
            <h3 class="display-1">Ольга Белозор</h3>
            <p class="dark-gray">Руководитель отдела закупок</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +74212919043" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-43 + 111</a>
            </div>
            <p><a href="mailto: 919048@mk-27.ru" class="primary-red buy_2_click">919048@mk-27.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/khab/kirichenko.png" alt="Наталья Кириченко">
            <h3 class="display-1">Наталья Кириченко</h3>
            <p class="dark-gray">Руководитель отдела продаж</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79241193702" class="btn btn-rect button-2 buy_1_click">+7 924 119-37-02</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74212919043" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-43 + 110</a>
            </div>
          </div>
          <div>
            <img src="/image/devochki/khab/bolshakova.png" alt="Елена Большакова">
            <h3 class="display-1">Елена Большакова</h3>
            <p class="dark-gray">Руководитель тендерного отдела</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79145421524" class="btn btn-rect button-2 buy_1_click">+7 914 542-15-24</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74212919043" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-43 + 104</a>
            </div>
            <p><a href="mailto: 251524@mk-27.ru" class="primary-red buy_2_click">251524@mk-27.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/khab/tarasova.png" alt="Елена Тарасова">
            <h3 class="display-1">Елена Тарасова</h3>
            <p class="dark-gray">Менеджер по документообороту отдела закупок</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +74212919043" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-43 + 112</a>
            </div>
            <p><a href="mailto: 41-42-93@mail.ru" class="primary-red buy_2_click">41-42-93@mail.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/khab/shvecova.png" alt="Екатерина Швецова">
            <h3 class="display-1">Екатерина Швецова</h3>
            <p class="dark-gray">Заместитель руководителя отдела закупок</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +74212919043" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-43 + 108</a>
            </div>
            <p><a href="mailto: 412235@mail.ru" class="primary-red buy_2_click">412235@mail.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/khab/zhukova.png" alt="Кристина Жукова">
            <h3 class="display-1">Кристина Жукова</h3>
            <p class="dark-gray">Менеджер отдела продаж</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79147701326" class="btn btn-rect button-2 buy_1_click">+7 914 770-13-26</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74212919043" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-43 + 106</a>
            </div>
          </div>
          <div>
            <img src="/image/devochki/khab/guruleva.png" alt="Лариса Гурулёва">
            <h3 class="display-1">Лариса Гурулёва</h3>
            <p class="dark-gray">Оператор отдела продаж</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +74212919043" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-43 + 134</a>
            </div>
            <p><a href="mailto: metiz773018@mail.ru" class="primary-red buy_2_click">metiz773018@mail.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/khab/moskovceva.png" alt="Юлия Московцева">
            <h3 class="display-1">Юлия Московцева</h3>
            <p class="dark-gray">Менеджер отдела продаж</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79141589145" class="btn btn-rect button-2 buy_1_click">+7 914 158-91-45</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74212209145" class="btn btn-rect button-2 buy_1_click">+7 (4212) 20-91-45</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74212919043" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-43 + 125</a>
            </div>
            <p><a href="mailto: 209145@mk-27.ru" class="primary-red buy_2_click">209145@mk-27.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/khab/kostenko.png" alt="Кристина Костенко">
            <h3 class="display-1">Кристина Костенко</h3>
            <p class="dark-gray">Старший менеджер отдела<br>оптовых продаж</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79145443018" class="btn btn-rect button-2 buy_1_click">+7 914 544-30-18</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74212919046" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-46 + 106</a>
            </div>
            <p><a href="mailto: 671843-2015@mail.ru" class="primary-red buy_2_click">671843-2015@mail.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/khab/belousova.png" alt="Надежда Белоусова">
            <h3 class="display-1">Надежда Белоусова</h3>
            <p class="dark-gray">Менеджер по логистике</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +74212919044" class="btn btn-rect button-2 buy_1_click">+7 (4212) 91-90-44 + 117</a>
            </div>
            <p><a href="mailto: logistmetiz@mail.ru" class="primary-red buy_2_click">logistmetiz@mail.ru</a></p>
          </div>
        {% endif %}
        {% if city == 'Южно-Сахалинск' %}
          <div>
            <img src="/image/devochki/sakha/lobanova.png" alt="Галина Лобанова">
            <h3 class="display-1">Галина Лобанова</h3>
            <p class="dark-gray">Руководитель филиала<br>г. Южно-Сахалинск</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79248888973" class="btn btn-rect button-2 buy_1_click">+7 924 888-89-73</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74242515609" class="btn btn-rect button-2 buy_1_click">+7 (4242) 515-609</a>
            </div>
            <p><a href="mailto: 27metiz@mail.ru" class="primary-red buy_2_click">27metiz@mail.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/sakha/musaeva.png" alt="Назгуль Мусаева">
            <h3 class="display-1">Назгуль Мусаева</h3>
            <p class="dark-gray">Менеджер отдела продаж<br>г. Южно-Сахалинск</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79147642579" class="btn btn-rect button-2 buy_1_click">+7 914 764-25-79</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74242515607" class="btn btn-rect button-2 buy_1_click">+7 (4242) 515-607</a>
            </div>
            <p><a href="mailto: metiz.sakh65@mail.ru" class="primary-red buy_2_click">metiz.sakh65@mail.ru</a></p>
          </div>
        {% endif %}
        {% if city == 'Владивосток' %}
          <div>
            <img src="/image/devochki/vlad/plotnikova.png" alt="Елена Плотникова">
            <h3 class="display-1">Елена Плотникова</h3>
            <p class="dark-gray">Директор филиала г. Владивосток</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79141587401" class="btn btn-rect button-2 buy_1_click">+7 914 158-74-01</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74232614531" class="btn btn-rect button-2 buy_1_click">+7 (423) 261-45-31</a>
            </div>
            <p><a href="mailto: 207401@mk-27.ru" class="primary-red buy_2_click">207401@mk-27.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/vlad/kravchenko.png" alt="Екатерина Кравченко">
            <h3 class="display-1" style="font-size: 35px;">Екатерина Кравченко</h3>
            <p class="dark-gray">Менеджер отдела продаж<br>г. Владивосток</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79841998602" class="btn btn-rect button-2 buy_1_click">+7 984 199-86-02</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74232614531" class="btn btn-rect button-2 buy_1_click">+7 (423) 261-45-31</a>
            </div>
            <p><a href="mailto: prodazi@mk-27.ru" class="primary-red buy_2_click">prodazi@mk-27.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/vlad/melnik.png" alt="Дарья Мельник">
            <h3 class="display-1">Дарья Мельник</h3>
            <p class="dark-gray">Менеджер отдела продаж<br>г. Владивосток</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79141701921" class="btn btn-rect button-2 buy_1_click">+7 914 170-19-21</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74232614531" class="btn btn-rect button-2 buy_1_click">+7 (423) 261-45-31</a>
            </div>
            <p><a href="mailto: manager1@mk-27.ru" class="primary-red buy_2_click">manager1@mk-27.ru</a></p>
          </div>
          <div>
            <img src="/image/devochki/vlad/filatova.png" alt="Татьяна Филатова">
            <h3 class="display-1">Татьяна Филатова</h3>
            <p class="dark-gray">Менеджер отдела продаж<br>г. Владивосток</p>
            <div class="flex-container flex-center-all about-team-tel">
              <a href="tel: +79841998601" class="btn btn-rect button-2 buy_1_click">+7 984 199-86-01</a>
            </div>
            <div class="flex-container flex-center-all">
              <a href="tel: +74232614531" class="btn btn-rect button-2 buy_1_click">+7 (423) 261-45-31</a>
            </div>
            <p><a href="mailto: manager2@mk-27.ru" class="primary-red buy_2_click">manager2@mk-27.ru</a></p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  <div class="download-presentation flex-center-all">
    <div class="col-m-3 col-center flex-center">
      <h2 class="uppercase">Презентация компании в PDF</h2><a href="src/presentation.pdf" class="red-round">Скачать</a>
    </div>
  </div>
</main>
<script type="text/javascript">
  $(function(){
  $('.minimized').click(function(event) {
    var i_path = $(this).attr('src');
    $('body').append('<div id="overlay"></div><div id="magnify"><img src="'+i_path+'"><div id="close-popup"><i></i></div></div>');
    $('#magnify').css({
     left: ($(document).width() - $('#magnify').outerWidth())/2,
     // top: ($(document).height() - $('#magnify').outerHeight())/2 upd: 24.10.2016
            top: ($(window).height() - $('#magnify').outerHeight())/2
   });
    $('#overlay, #magnify').fadeIn('fast');
  });
  
  $('body').on('click', '#close-popup, #overlay', function(event) {
    event.preventDefault();
    $('#overlay, #magnify').fadeOut('fast', function() {
      $('#close-popup, #magnify, #overlay').remove();
    });
  });
});
</script>
{{ footer }}