{{ header }}
<div id="information-contact" class="container">
  <div class="row">
    <div class="flex-container">
      <p class="display-1 col-xs-12 mobile">Контакты</p>
      <aside class="col-m-1 hidden-xs">
        <div class="contacts-list">
          {% if not city or city == 'Хабаровск' %}
          <div class="contacts-header">
            <h2 class="sub-header">Хабаровск</h2>
            <a class="button-2 buy_2_click" href="mailto: 919044@mail.ru"><img src="image/src/ic-mail.png"><span>919044@mail.ru</span></a>
          </div>
          <div id="contacts_map_1" class="contacts-contact active" data-coords="[48.417226, 135.10322]">
            <h3 class="button-2">Офис-склад на Иртышской</h3>
            <p><span class="contacts-address">ул. Иртышская, 25</span></p>
            <p><a class="contacts-telephone buy_1_click itb-phone-track" href="tel: +7 (4212) 91-90-43">+7 (4212) 91-90-43</a></p>
            <p><a class="contacts-telephone buy_1_click" href="tel: +7 (4212) 91-90-44">+7 (4212) 91-90-44</a></p>
            <p><a class="contacts-telephone buy_1_click" href="tel: +7 (4212) 91-90-45">+7 (4212) 91-90-45</a></p>
          </div>
          <div id="contacts_map_2" class="contacts-contact" data-coords="[48.491832, 135.111459]">
            <h3 class="button-2">«Железяка» на Промышленной</h3>
            <p><span class="contacts-address">ул. Промышленная, 12</span></p>
            <p><a class="contacts-telephone buy_1_click" href="tel: +7 (4212) 47‒86‒87">+7 (4212) 47‒86‒87</a></p>
          </div>
          <div id="contacts_map_5" class="contacts-contact" data-coords="[48.397904, 135.09752]">
            <h3 class="button-2">«Железяка» на Суворова</h3>
            <p><span class="contacts-address">ул. Суворова, 12</span></p>
            <p><a class="contacts-telephone buy_1_click" href="tel: +7 (4212) 91-00-10">+7 (4212) 91-00-10</a></p>
          </div>
          {% endif %}
          {% if city == 'Южно-Сахалинск' %}
          <div class="contacts-header">
            <h2 class="sub-header">Южно-Сахалинск</h2>
            <a class="button-2 buy_2_click" href="mailto: 27metiz@mail.ru"><img src="image/src/ic-mail.png"><span>27metiz@mail.ru</span></a>
          </div>
          <div id="contacts_map_3" class="contacts-contact active" data-coords="[47.004295, 142.729173]">
            <h3 class="button-2">Торговый зал в Южно-Сахалинске</h3>
            <p><span class="contacts-address">проспект Мира 2Б/8 (база «Консоль»)</span></p>
            <p><a class="contacts-telephone buy_1_click itb-phone-track" href="tel: +7 (4242) 515-609">+7 (4242) 515-609</a></p>
            <p><a class="contacts-telephone buy_1_click" href="tel: +7 (4242) 515-608">+7 (4242) 515-608</a></p>
            <p><a class="contacts-telephone buy_1_click" href="tel: +7 (4242) 515-607">+7 (4242) 515-607</a></p>
          </div>
          {% endif %}
          {% if city == 'Владивосток' %}
          <div class="contacts-header">
            <h2 class="sub-header">Владивосток</h2>
            <a class="button-2 buy_2_click" href="mailto: manager1@mk-27.ru"><img src="image/src/ic-mail.png"><span>manager1@mk-27.ru</span></a>
          </div>
          <div id="contacts_map_4" class="contacts-contact active" data-coords="[43.173407, 131.905266]">
            <h3 class="button-2">Офис-склад во Владивостоке</h3>
            <p><span class="contacts-address">ул.Енисейская, 32,<br>складской комплекс 6</span></p>
            <p><a class="contacts-telephone buy_1_click itb-phone-track" href="tel: +7 (423) 261-45-31">+7 (423) 261-45-31</a></p>
          </div>
          {% endif %}
        </div>
      </aside>
      <div id="content" class="col-sm-9 col-xs-12 flex-container flex-column">
        {{ content_top }}
        <div class="contacts-map row flex-container flex-column">
          <h1 class="display-2 col-sm-12 hidden-xs">Контакты</h1>
          <div id="information-map" style="height: 100%; width: 100%"></div>
        </div>
        {{ content_bottom }}
      </div>
    </div>
  </div>
</div>
<script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
<script>
  var map;

  function load_map(coords, zoom, popup) {
      DG.then(function() {
          map = DG.map('information-map', {
              center: coords,
              zoom: zoom,
              touchZoom: false,
              scrollWheelZoom: false,
              doubleClickZoom: false,
              boxZoom: false,
              zoomControl: false,
          });
          DG.marker(coords).addTo(map).bindPopup(popup);
      });
  }

  $('.contacts-contact').each(function() {
    $(this).click(function() {
      $(this).addClass('active');
      $('.contacts-contact').not(this).removeClass('active');
      map.remove();
      load_map(JSON.parse($(this).attr('data-coords')), 15, 'МетизКомплект');
    });
  });

  {% if not city or city == 'Хабаровск' %}
  load_map([48.417226, 135.10322], 15, 'МетизКомплект');
  {% endif %}

  {% if city == 'Южно-Сахалинск' %}
  load_map([47.004295, 142.729173], 15, 'МетизКомплект');
  {% endif %}

  {% if city == 'Владивосток' %}
  load_map([43.173407, 131.905266], 15, 'МетизКомплект');
  {% endif %}  
</script>
{{ footer }}
