{{ header }}
<main id="information-about">
  <div class="about-banner">
    <div class="about-banner-text col-m-3 col-xs-12 col-center flex-center-all">
      <h1 class="display-2 solid-white">Оказываем услуги доставки транспортом компании</h1>
    </div>
  </div>
    {% if not city or city == 'Хабаровск' %}
    <section class="about-section col-m-3 col-center">
      <h2>Доставка по г. Хабаровск</h2>
      <p class="body-3">при покупке от <span style="white-space: nowrap">15 000</span> рублей бесплатно*. При покупке до <span style="white-space: nowrap">14 999</span> рублей стоимость доставки от 500 до <span style="white-space: nowrap">1 000</span> рублей.<br>*стоимость указана для розничных цен.</p>
    </section>
    <section class="about-section col-m-3 col-center">
      <h2>Доставка осуществляется</h2>
      <p class="body-3">Пн-Пт с 9:00 до 18:00<br>Сб с 9:00 до 15:00</p>
    </section>
    <section class="about-section col-m-3 col-center">
      <h2>Ближайший пригород Хабаровска</h2>
      <p class="body-3">Доставка от 800 до <span style="white-space: nowrap">1 000 рублей</span></p>
    </section>
    <section class="about-section col-m-3 col-center">
      <h2>Доставка по региону</h2>
      <p class="body-3">Осуществляем доставку по региону (Амурская область, Хабаровский край). Стоимость рассчитывает менеджер. Цена зависит от объёма заказа.</p>
    </section>
    <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block">
      <div>
        <img src="image/delivery-1.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
      <div>
        <img src="image/delivery-2.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
    </div>
    <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block">
      <div>
        <img src="image/delivery-3.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
      <div>
        <img src="image/delivery-4.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
    </div>
    {% endif %}
    {% if city == 'Южно-Сахалинск' %}
    <section class="about-section col-m-3 col-center">
      <h2>Доставка по г. Южно-Сахалинск</h2>
      <p class="body-3">При покупке от 10 000 рублей – бесплатно*. При покупке до 9 999 рублей стоимость доставки от 500 до 1 000 рублей.</p>
      <p class="body-3">*стоимость указана для розничных цен.</p>
    </section>
    <section class="about-section col-m-3 col-center">
      <h2>Доставка осуществляется</h2>
      <p class="body-3">Пн-Пт с 9:00 до 18:00</p>
    </section>
    <section class="about-section col-m-3 col-center">
      <h2>Доставка по острову (Сахалинская область)</h2>
      <p class="body-3">Осуществляем доставку по региону. Стоимость рассчитывает менеджер. Цена зависит от объёма заказа и дальности доставки.</p>
    </section>
    <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block">
      <div>
        <img src="image/delivery-ys1.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
      <div>
        <img src="image/delivery-ys2.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
    </div>
    <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block">
      <div>
        <img src="image/delivery-ys3.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
      <div>
        <img src="image/delivery-ys4.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
    </div>
    {% endif %}
    {% if city == 'Владивосток' %}
    <section class="about-section col-m-3 col-center">
      <h2>Доставка по г. Владивосток</h2>
      <p class="body-3">Доставка платная, 1 000 ₽</p>
    </section>
    <section class="about-section col-m-3 col-center">
      <h2>Доставка осуществляется</h2>
      <p class="body-3">Пн-Пт, с 9:00 до 18:00</p>
      <p class="body-3">Сб с 9:00 до 15:00</p>
    </section>
    <section class="about-section col-m-3 col-center">
      <h2>Доставка по Приморскому краю</h2>
      <p class="body-3">Рассчитывается индивидуально.</p>
    </section>
    <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block">
      <div>
        <img src="image/delivery-vlad1.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
      <div>
        <img src="image/delivery-vlad2.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
    </div>
    <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block">
      <div>
        <img src="image/delivery-vlad3.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
      <div>
        <img src="image/delivery-vlad4.jpg" alt="Оказываем услуги доставки транспортом компании">
      </div>  
    </div>
    {% endif %}

  <div class="download-presentation flex-center-all">
    <div class="col-m-3 col-center flex-center">
      <h2 class="uppercase">Презентация компании в PDF</h2><a href="src/presentation.pdf" class="red-round">Скачать</a>
    </div>
  </div>
</main>
<!--script>
{% if not city or city == 'Хабаровск' %}
  load_map([48.417226, 135.10322], 15, 'МетизКомплект');
  {% endif %}

  {% if city == 'Южно-Сахалинск' %}
  load_map([47.004295, 142.729173], 15, 'МетизКомплект');
  {% endif %}

  {% if city == 'Владивосток' %}
  load_map([43.173407, 131.905266], 15, 'МетизКомплект');
  {% endif %}  
</script-->
{{ footer }}