{{ header }}
<main id="information-about">
    <div class="about-banner">
        <div class="about-banner-text col-m-3 col-xs-12 col-center flex-center-all">
            <h1 class="display-2 solid-white uppercase">Производим метизы, изготовленные по ГОСТу, ТУ и ОСТ, и по вашим чертежам</h1>
        </div>
    </div>
    <section class="about-section col-m-3 col-center">
        <h2 class="uppercase">Собственное производство</h2>
        <p class="body-3">Сетка рабица.<br>Оцинкованная и без покрытия (черная). В любых объёмах.<br>Производство автоматизировано, что позволяет избежать заломов и пропусков в изделии.<br>– Размеры ячейки от 20 до 80 мм.<br>– Максимальная ширина изделия 3 м.<br>– Можем изготовить до 25 м в рулон.<br>Конечные элементы в рулоне загибаются, чтобы исключить травматизм при транспортировке и монтаже изделия. Что является показателем качества производства.<br><br>Анкерные блоки.<br>А также осуществляется токарная и фрезерная обработка материалов, выполняются операции сверления и пиления металла, загибания арматуры и фундаментных болтов всех типов, закладные детали, ванночки для сварки арматуры.</p>
    </section>
    <div class="develop-image flex-center col-m-3 col-center" style="margin-top: 48px;">
        <div>
            <img src="image/fund-bolts.jpg" alt="Типы и конструкция фундаментных болтов">
        </div>
    </div>
    <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block" style="margin-bottom: 0px;">
        <div style="margin-bottom: 8px;">
            <img src="image/develop-1.jpg" alt="Собственные цеха по производству">
        </div>  
        <div style="margin-bottom: 16px;">
        
            <img src="image/develop-2.jpg" alt="Собственные цеха по производству">
        </div> 

    </div>
    <div class="develop-image flex-center flex-list col-m-3 col-center mobile-block" style="margin-bottom: 64px; margin-top: 0px;">
    	<div style="margin-top: 8px;">
            <img src="image/develop-3.jpg" alt="Собственные цеха по производству">
         </div>
          <div style="margin-top: 8px;">
            <img src="image/develop-4.jpg" alt="Собственные цеха по производству">
        </div>  
    </div>
    <div class="download-presentation flex-center-all">
        <div class="col-m-3 col-center flex-center">
            <h2 class="uppercase">Презентация компании в PDF</h2><a href="src/presentation.pdf" class="red-round">Скачать</a>
        </div>
    </div>
</main>
{{ footer }}