{{ header }}
<div id="product-category" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    {% if products %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ul>
        <div class="product-block row">
          <div class="col-sm-12 flex-container flex-center flex-justify mobile-block" style="margin: 0 0 24px 0;">
            <div class="flex-container flex-center">
              <h1 class="display-2" style="margin: 0;">{{ heading_title }}</h1>
              <span class="item-title text-disabled" style="margin: 12px 12px 0 12px">
                <span>{{ count }}</span>
                <span>
                  {% if (count % 100 >= 11 and count % 100 <= 19) or count % 10 >= 5 or count % 10 == 0 %}
                    товаров
                  {% elseif count % 10 == 1 %}
                    товар
                  {% else %}
                    товара
                  {% endif %}
                </span>
              </span>
            </div>
            <div class="sort-block flex-container flex-center flex-wrap">
              <button type="button" class="btn btn-primary btn-filter mobile" data-toggle="offcanvas"><img src="/image/src/ic-filter.svg">Категории</button>
              <button class="btn btn-sort btn-dropdown">{{ current_sort }}</button>
              <div class="sort-options">
                {% for sorts in sorts %}
                  {% if sorts.value == '%s-%s'|format(sort, order) %}
                    <a href="{{ sorts.href }}" class="active">{{ sorts.text }}</a>
                  {% else %}
                    <a href="{{ sorts.href }}">{{ sorts.text }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          {% for product in products %}
            {% include 'default/template/common/product-thumb.twig' %}
          {% endfor %}
        </div>
        <div class="pagination-block flex-container flex-center-all">
          {{ pagination }}
        </div>
        <div class="category-description row">
          <div class="col-sm-12">
            {{ description }}
          </div>
        </div>
      </div>
    {% endif %}
    {% if not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
    {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
  $(window).on('resize', function() {
    var top = 16 + parseInt($('.btn-sort').position().top + $('.btn-sort').outerHeight());
    $('.sort-options').css('top', top);
  }).trigger('resize');
</script>
{{ footer }} 
