<footer>
  <div class="footer-wrapper">
    <div class="container">
      <div class="footer-main flex-container mobile-block">
        <div class="logo col-m-1">
          {% if logo_footer %}
            {% if home == og_url %}
              <img src="{{ logo_footer }}" title="{{ name }}" alt="{{ name }}"/>
            {% else %}
              <a href="{{ home }}"><img src="{{ logo_footer }}" title="{{ name }}" alt="{{ name }}"/></a>
            {% endif %}
          {% elseif logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/>
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/></a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
        </div>
        <div class="col-m-1">
          <h3>Контактная информация</h3>
          <div class="footer-contacts">
              <p class="body-2 solid-metal">Офис-склад на Иртышской</p>
              <h4 class="price-2 space-black"><a href="tel: +7 4212 91-90-43" class="buy_1_click itb-phone-track">+7 4212 91-90-43</a></h4>
          </div>
          <div class="footer-contacts">
              <p class="body-2 solid-metal">Информация для покупателей</p>
              <h4 class="price-2 space-black"><a class="buy_2_click" href="mailto: 919044@mk-27.ru">919044@mk-27.ru</a></h4>
          </div>
        </div> 
        <div class="col-m-1">
            <h3>Компания</h3>
            <ul class="footer-list list-unstyled">
              <li><a href="/about">О нас</a></li>
              <li><a href="/develop">Клиентам</a></li>
              <li><a href="/gallery">Фотогалерея</a></li>
              <li><a href="/contacts">Контакты</a></li>
            </ul>
        </div>
        <!--div class="col-m-1">
            <h3>Покупателям</h3>
            <ul class="footer-list list-unstyled">
                <li><a href="">Доставка и Возвраты</a></li>
            </ul>
        </div-->
      </div>
    </div>
    <div class="footer-append container">
      <div class="flex-container flex-center">
        <div class="col-s-half">
            <p class="body-2">© 2007 — {{ year }}, ООО «Метиз Комплект»</p>
        </div>
        <div class="col-s-half right">
            <a href="https://4ait.ru/">Разработано в 4А</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  $('body').on('click', '.buy_1_click', function() { gtag('event', 'buy_1_click', {'event_category': 'buy_click'}); });
  $('body').on('click', '.buy_2_click', function() { gtag('event', 'buy_2_click', {'event_category': 'buy_click'}); });
  $('body').on('click', '.korzina__click', function() { gtag('event', 'korzina__click', {'event_category': 'korzina'}); });
  $('body').on('click', '.zakaz__click', function() { gtag('event', 'zakaz__click', {'event_category': 'oformlenie'}); });
  $('body').on('click', '.zakaz__go', function() { gtag('event', 'zakaz__go', {'event_category': 'podtvergden'}); });
</script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

            {{_ocm_script}}
        
</body></html>