{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a href="{{ insert }}" data-toggle="tooltip" title="{{ button_insert }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
				<button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-category').submit() : false;"><i class="fa fa-trash-o"></i></button>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-category">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
									<td class="left">{{ column_name }}</td>
									<td class="left">{{ column_image }}</td>
									<td class="right">{{ column_sort_order }}</td>
									<td class="right">{{ column_action }}</td>
								</tr>
							</thead>
							<tbody>
							 
							{% if albums %}
								{% for album in albums %}
									<tr>
										<td style="text-align: center;">
											{% if album.selected %}
												<input type="checkbox" name="selected[]" value="{{ album.album_id }}" checked="checked" />
											{% else %}
												<input type="checkbox" name="selected[]" value="{{ album.album_id }}" />
											{% endif %}
										</td>
										<td class="left">{{ album.name }}</td>
										<td class="left"><img src="{{ album.image }}" /></td>
										<td class="right">{{ album.sort_order }}</td>
										<td class="right">
											<a href="{{ album.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
											</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td class="text-center" colspan="5">{{ text_no_results }}</td>
								</tr>
							{% endif %} 
							</tbody>
						</table>
					</div>
				</form>
				<div class="row">
					<div class="col-sm-6 text-left">{{ pagination }}</div>
					<div class="col-sm-6 text-right">{{ results }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}