{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-category" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
						<li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active in" id="tab-general">
							<ul class="nav nav-tabs" id="language">
								{% for language in languages %}
								<li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
								{% endfor %}
							</ul>
							<div class="tab-content">
								{% for language in languages %}
								<div class="tab-pane" id="language{{ language.language_id }}">

									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
										<div class="col-sm-10">
											<input type="text" name="video_description[{{ language.language_id }}][name]" value="{% if video_description[language.language_id] %}{{ video_description[language.language_id].name }}{% endif %}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" onchange="seoUrlGenerate(this.value,'gallery','{{ language.code|slice(0,2)|lower }}',{{ language.language_id }});" />
											{% if error_name[language.language_id] %}
											<div class="text-danger">{{ error_name[language.language_id] }}</div>
											{% endif %}
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
										<div class="col-sm-10">
											<textarea name="video_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" class="form-control">{% if video_description[language.language_id] %}{{ video_description[language.language_id].description }}{% endif %}</textarea>
										</div>
									</div>
							
									<div class="form-group">
										<label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
										<div class="col-sm-10">
											<textarea name="video_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{% if video_description[language.language_id] %}{{ video_description[language.language_id].meta_keyword }}{% endif %}</textarea>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="tab-pane fade" id="tab-data">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-video"><span data-toggle="tooltip" title="<b>Пример:</b><br />
							https://youtube.com/watch?v=TJkmc8-eyvE<br />
							или http://vimeo.com/94936857">Ссылка на видео</span></label>
								<div class="col-sm-10">
									<input type="text" name="video" value="{{ video }}" id="input-video" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_image }}</label>
								<div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
									<input type="hidden" name="image" value="{{ image }}" id="input-image" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">{{ entry_store }}</label>
								<div class="col-sm-10">
									<div class="well well-sm" style="height: 150px; overflow: auto;">
										<div class="checkbox">
											<label>
												{% if 0 in video_store %}
													<input type="checkbox" name="video_store[]" value="0" checked="checked" />
													{{ text_default}}
												{% else %}
													<input type="checkbox" name="video_store[]" value="0" />
													{{ text_default }}
												{% endif %} 
											</label>
										</div>
										{% for store in stores %}
										<div class="checkbox">
											<label>
												{% if store.store_id in video_store %}
													<input type="checkbox" name="video_store[]" value="{{ store.store_id}}" checked="checked" />
													{{ store.name }}
												{% else %}
													<input type="checkbox" name="video_store[]" value="{{ store.store_id }}" />
													{{ store.name }}
												{% endif %} 
											</label>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-keyword"><span data-toggle="tooltip" title="{{ help_keyword }}">{{ entry_keyword }}</span></label>
								<div class="col-sm-10">
									<div class="table-responsive">
												<table class="table table-bordered table-hover">
													<thead>
														<tr>
															<td class="text-left">{{ entry_store }}</td>
															<td class="text-left">{{ entry_keyword }}</td>
														</tr>
													</thead>
													<tbody>
													<tr>
														<td class="text-left">{{ text_default }}</td>
														<td class="text-left">
															{% for language in languages %}
																<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
																	<input type="text" name="gallery_seo_url[0][{{ language.language_id }}]" value="{% if gallery_seo_url[0][language.language_id] %}{{ gallery_seo_url[0][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
																</div>
															{% endfor %}
														</td>
													</tr>
													{% for store in stores %}
													<tr>
														<td class="text-left">{{ store.name }}</td>
														<td class="text-left">
															{% for language in languages %}
																<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
																	<input type="text" name="gallery_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if gallery_seo_url[store.store_id][language.language_id] %}{{ gallery_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
																</div>
															{% endfor %}
														</td>
													</tr>
													{% endfor %}
													</tbody>
												</table>
											</div>
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
								<div class="col-sm-10">
									<input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select name="status" id="input-status" class="form-control">
										{% if status %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %} 
									</select>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
	<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
	<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
	<script type="text/javascript"><!--
{% for language in languages %}
$('#input-description{{ language.language_id }}').summernote({
	height: 300
});
{% endfor %}
//--></script>
<script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script>
<script type="text/javascript"><!--
	function seoUrlGenerate(string,pageType,lang='en',langId='1'){
		var delimiter='-',
		keyword=$('input[name="'+pageType+'_seo_url[0]['+langId+']"]'),
		abc={'ß':'ss','à':'a','á':'a','â':'a','ã':'a','ä':'a','å':'a','æ':'ae','ç':'c','è':'e','é':'e','ê':'e','ë':'e','ì':'i','í':'i','î':'i','ï':'i','ð':'d','ñ':'n','ò':'o','ó':'o','ô':'o','õ':'o','ö':'o','ő':'o','ø':'o','ù':'u','ú':'u','û':'u','ü':'u','ű':'u','ý':'y','þ':'th','ÿ':'y','α':'a','β':'b','γ':'g','δ':'d','ε':'e','ζ':'z','η':'h','θ':'8','ι':'i','κ':'k','λ':'l','μ':'m','ν':'n','ξ':'3','ο':'o','π':'p','ρ':'r','σ':'s','τ':'t','υ':'y','φ':'f','χ':'x','ψ':'ps','ω':'w','ά':'a','έ':'e','ί':'i','ό':'o','ύ':'y','ή':'h','ώ':'w','ς':'s','ϊ':'i','ΰ':'y','ϋ':'y','ΐ':'i','ş':'s','ı':'i','ç':'c','ü':'u','ö':'o','ğ':'g','а':'a','б':'b','в':'v','г':'g','д':'d','е':'e','ё':'yo','ж':'zh','з':'z','и':'i','й':'j','к':'k','л':'l','м':'m','н':'n','о':'o','п':'p','р':'r','с':'s','т':'t','у':'u','ф':'f','х':'h','ц':'c','ч':'ch','ш':'sh','щ':'sh','ъ':'','ы':'y','ь':'','э':'e','ю':'yu','я':'ya','є':'ye','і':'i','ї':'yi','ґ':'g','č':'c','ď':'d','ě':'e','ň':'n','ř':'r','š':'s','ť':'t','ů':'u','ž':'z','ą':'a','ć':'c','ę':'e','ł':'l','ń':'n','ó':'o','ś':'s','ź':'z','ż':'z','ā':'a','č':'c','ē':'e','ģ':'g','ī':'i','ķ':'k','ļ':'l','ņ':'n','š':'s','ū':'u','ž':'z','ө':'o','ң':'n','ү':'u','ә':'a','ғ':'g','қ':'q','ұ':'u','ა':'a','ბ':'b','გ':'g','დ':'d','ე':'e','ვ':'v','ზ':'z','თ':'th','ი':'i','კ':'k','ლ':'l','მ':'m','ნ':'n','ო':'o','პ':'p','ჟ':'zh','რ':'r','ს':'s','ტ':'t','უ':'u','ფ':'ph','ქ':'q','ღ':'gh','ყ':'qh','შ':'sh','ჩ':'ch','ც':'ts','ძ':'dz','წ':'ts','ჭ':'tch','ხ':'kh','ჯ':'j','ჰ':'h'};
		switch(lang){
			case'bg':abc['щ']='sht';abc['ъ']='a';
			break;
			case'uk':abc['и']='y';
			break;}
			string=string.toLowerCase();
			for(var k in abc){
				string=string.replace(RegExp(k,'g'),abc[k]);
			}
			var alnum=(typeof(XRegExp)==='undefined')?RegExp('[^a-z0-9]+','ig'):XRegExp('[^\\p{L}\\p{N}]+','ig');
			string=string.replace(alnum,delimiter);
			string=string.replace(RegExp('['+delimiter+']{2,}','g'),delimiter);
			string=string.replace(RegExp('(^'+delimiter+'|'+delimiter+'$)','g'),'');
			if(keyword.length&&keyword.val()==''){
				keyword.val(string);
			}
		}
//--></script>  
</div>
{{ footer }}