/*ECOS*/
@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap&subset=cyrillic);

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat Bold"), local("Akrobat-Bold"), url(fonts/Akrobatbold.woff2?743c04db292c522bcb24e4f31ffee2ba) format("woff2"), url(fonts/Akrobatbold.woff?9d8ba3229e89c4844ced9d5d22b0d347) format("woff"), url(fonts/Akrobatbold.ttf?deecd7f6a5c9e19bccdac2b9b93978ed) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Akrobat';
  src: local("Akrobat ExtraBold"), local("Akrobat-ExtraBold"), url(fonts/Akrobatextrabold.woff2?c598e5c8dd7accd44ac96dc64ca83286) format("woff2"), url(fonts/Akrobatextrabold.woff?337ba0bc155595d1cbc9abaa4cfeb6ae) format("woff"), url(fonts/Akrobatextrabold.ttf?3b9d54f04b9b69eba3179dfbd39b139f) format("truetype");
  font-weight: 800;
  font-style: normal;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #fff;
	color: #333;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	width: 100%;
	min-width: 320px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
body.no-scroll {
    overflow-y: hidden;
    width: 100%;
}
body.no-scroll-fixed {
    overflow-y: scroll;
    width: 100%;
}
/* bootstrap override */
@media (min-width: 768px), (min-width: 992px), (min-width: 1200px) {
	.container {
		width: 100%;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: Akrobat;
 	font-weight: 800;
 	color: #111;
 	margin-top: 0;
 	margin-bottom: 24px;
}
h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: #333;
  font-size: 16px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  padding-bottom: 2px;
  outline: none!important;
}

a:hover,
a.active,
a:active,
a:focus,
a.focus
span.active {
  color: #EE3831;
}

a.no-border,
.pagination li a,
a.no-border:hover,
.pagination li a:hover {
  border-bottom: none;
}

p {
	color: #333;
	font-size: 16px;
	line-height: 1.5em;
	-webkit-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
	margin: 0;
}
input, button, textarea, select, option {
	background-color: #fff;
	box-shadow: none;
	text-shadow: none;
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #333333;
	outline: none;
}
button.transparent {
	background-color: transparent;
}
.list-unstyled li {
  list-style: none;
}

.list-inline {
	margin-bottom: 0;
}

.list-inline li {
  display: inline-block;
  list-style: none;
}

.list-inline li:first-child {
  padding-left: 0;
}

.list-inline li:last-child {
  padding-right: 0;
}

.flex-list *:first-child {
	margin-left: 0;
}

.flex-list *:last-child {
	margin-right: 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-all {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-justify {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-list > *:first-child {
	margin-left: 0;
}

.flex-list > *:last-child {
	margin-right: 0;
}

.inline-container {
	display: flex;
}
.inline-container-center {
	display: flex;
	align-items: center;
}

.col-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.col-s-half,
.col-m-half,
.col-l-half,
.col-xl-half {
  width: 50%;
}

@media (max-width: 767px) {
	.col-s-1 {
		width: 20%;
	}
	.col-s-2 {
		width: 40%;
	}
	.col-s-3 {
		width: 60%;
	}
	.col-s-4 {
		width: 80%;
	}
	.col-s-5 {
		width: 100%;
	}
	.col-s-4 .col-s-1 {
	  width: 25%;
	}
}

@media (min-width: 768px) {
	.col-m-1 {
		width: 20%;
	}
	.col-m-2 {
		width: 40%;
	}
	.col-m-3 {
		width: 60%;
	}
	.col-m-4 {
		width: 80%;
	}
	.col-m-5 {
		width: 100%;
	}
	.col-s-4 .col-m-1,
	.col-m-4 .col-m-1 {
	  width: 25%;
	}
}

@media (min-width: 992px) {
	.col-l-1 {
		width: 20%;
	}
	.col-l-2 {
		width: 40%;
	}
	.col-l-3 {
		width: 60%;
	}
	.col-l-4 {
		width: 80%;
	}
	.col-l-5 {
		width: 100%;
	}
	.col-s-4 .col-l-1,
	.col-m-4 .col-l-1,
	.col-l-4 .col-l-1 {
	  width: 25%;
	}
}

@media (min-width: 1200px) {
	.col-xl-1 {
		width: 20%;
	}
	.col-xl-2 {
		width: 40%;
	}
	.col-xl-3 {
		width: 60%;
	}
	.col-xl-4 {
		width: 80%;
	}
	.col-xl-5 {
		width: 100%;
	}
	.col-s-4 .col-xl-1,
	.col-m-4 .col-xl-1,
	.col-l-4 .col-xl-1,
	.col-xl-4 .col-xl-1 {
	  width: 25%;
	}
}

.col-s-4 .col-s-1,
.col-m-4 .col-m-1,
.col-l-4 .col-l-1,
.col-xl-4 .col-xl-1 {
  width: 25%;
}
.container, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,
.col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, 
.col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, 
.col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, 
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5 {
	padding-left: 40px;
	padding-right: 40px;
}
.row {
	margin-left: -40px;
	margin-right: -40px;
}
@media (max-width: 767px) {
	.container {
		width: 100%;
	}
    .container, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,
	.col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, 
	.col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, 
	.col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, 
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5 {
		padding-left: 16px;
		padding-right: 16px;
	}
	.row {
		margin-left: -16px;
		margin-right: -16px;
	}
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

.main-black {
  color: #111;
}

.space-black {
  color: #333;
}

.dark-gray {
  color: #666;
}

.main-gray {
  color: #888;
}

.primary-red
{
  color: #EE3831;
}

.primary-red-5percent {
  background-color: rgba(238, 56, 49, 0.05);
}

.red-indicate {
  color: #FF4E47;
}

.light-metal {
  color: #C1C4CE;
}

.solid-metal {
  color: #9c9ca9;
}

.solid-white {
  color: #fff;
}

.not-solid-white {
  color: rgba(255, 255, 255, 0.8);
}

.body-1 {
  font-size: 12px;
  line-height: 16px;
}

.body-2, label
{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.body-3 {
	font-size: 16px;
	line-height: 32px;
}

.sub-header {
  font-family: 'Akrobat', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  text-transform: initial;
}

.price-js {
	white-space: nowrap;
}

.price-2 {
  font-family: 'Akrobat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.price-2-rouble {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.price-3 {
	font-family: 'Akrobat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	color: #E92C28;
}

.price-3-rouble {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	color: #E92C28;
}

.display-1 {
  font-family: Akrobat;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
}

.display-2 {
  font-family: Akrobat;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
}

.display-3 {
  font-family: Akrobat;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
}

.button-2,
.button,
.red-round,
.red-banner,
.red-bordered
{
  font-family: Akrobat;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.06em;
}

.button,
.red-round,
.red-banner,
.red-bordered {
  padding: 16px 32px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #FFF;
  cursor: pointer;
}

.button:hover,
.red-round:hover,
.red-banner:hover,
.red-bordered:hover {
  color: #FFF;
}

.red-round {
  border-radius: 25px;
  background-color: #EE3831;
}

.red-round:hover {
  background-color: #FF4E47;
}

.red-banner {
  background-color: #EE3831;
}

.red-banner:hover {
  background-color: #FF4E47;
}

.red-banner.inactive {
  background-color: #C1C4CE;
}

.red-bordered {
  border: 1.5px solid #EE3831;
  background-color: transparent;
  color: #EE3831;
}

.red-bordered:hover {
  background-color: rgba(238, 56, 49, 0.05);
  color: #EE3831;
}

.item-title, .item-description {
	font-size: 14px;
	line-height: 20px;
	color: #333;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	text-transform: initial;
}
.caption {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.3px;
	text-transform: initial;
	color: rgba(0, 0, 0, 0.87);
}
.watch-all {
	font-family: Akrobat;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	vertical-align: middle;
	white-space: nowrap;
	text-transform: uppercase;
	color: #EE3831!important;
	letter-spacing: 0.06em;
}
.watch-all:after {
	content: url('src/ic-arrow.svg');
	margin-left: 4px;
	transform: none;
	display: inline-block;
	transition: all 0.2s ease-in-out;
	line-height: 0;
}
.watch-all:hover:after {
	transform: translateX(8px);
}

.price {
	font-family: 'Akrobat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	white-space: nowrap;
}
.price-old {
	color: #AAA;
	text-decoration: line-through;
}
.price-new {
	color: #EE3831;
}
input:not([type='button']):not([type="submit"]) {
	border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
} 

.btn, .btn-default, .btn-primary
.btn a, .btn-default a, .btn-primary a {
	font-family: Akrobat;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.06em;
	padding: 16px 32px;
	white-space: nowrap;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
	color: #FFF!important;
	cursor: pointer;
	border: none!important;
	border-radius: 25px;
  	background-color: #EE3831!important;
  	opacity: 1;
  	outline: none!important;
}

.btn:hover, .btn-default:hover, .btn-primary:hover,
.btn:hover a, .btn-default:hover a, .btn-primary:hover a {
	opacity: 0.8;
}
.btn a, .btn-default a, .btn-primary a {
	display: inline-block;
	border: none!important;
}
.btn-rect {
	border-radius: 0;
}
.btn-white {
	background-color: #fff!important;
	color: #EE3831!important;
	border: 2px solid #EE3831!important;
}
.btn-minus, .btn-plus {
	width: 30px;
	background-color: #fff;
	border: none;
	padding: 0;
	line-height: 0;
	outline: none;
}
.btn-minus:after, .btn-plus:after {
	display: block;
}
.btn-minus:after {
	content: url('src/ic-minus.svg');
}
.btn-plus:after {
	content: url('src/ic-plus.svg');
}
.btn-add-cart {
	border: 1px solid #EE3831;
}
.btn-add-cart, .btn-add-cart a {
	color: #EE3831;
}
.btn-search:before {
	content: url('src/ic-search.svg');
	vertical-align: middle;
}
.btn-search {
	background-color: transparent!important;
	border: none!important;
	line-height: 0;
}
.hamburger {
	padding: 4px;
	opacity: 1!important;
}
.hamburger-box {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	width: 16px;
	height: 2px;
	transition: all 0.2s ease-in-out!important;
	background-color: #fff!important;
}
.hamburger-inner:before {
	top: -6px;
}
.hamburger-inner:after {
	bottom: -6px;
}
.btn.hamburger:hover .hamburger-inner,
.btn.hamburger:active .hamburger-inner,
.btn.hamburger.active .hamburger-inner,
.btn.hamburger:hover .hamburger-inner:before,
.btn.hamburger:active .hamburger-inner:before,
.btn.hamburger.active .hamburger-inner:before,
.btn.hamburger:hover .hamburger-inner:after,
.btn.hamburger:active .hamburger-inner:after,
.btn.hamburger.active .hamburger-inner:after {
	background-color: #fff;
}
/* checkbox */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
	transition: all 0.15s ease-in-out;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  border: 1px solid #EE3831;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #EE3831;
  border: 1px solid #EE3831;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 3.5px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Customize the label (the container) */
.radio-container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radio-container .checkmark {
	position: absolute;
    top: 5px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.42);
    transition: all 0.2s ease-in-out;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #fff;
  border: 2px solid #EE3831;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  transition: all 0.2s ease-in-out;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
	width: 4px;
    height: 4px;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
	top: 4px;
    left: 4px;
    border-radius: 50%;
    background: #EE3831;
}
.buttons {
	margin: 1em 0;
}
header {
	background-color: #475560;
	transition: all 0.15s ease-in-out;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 100;
}
header > div > div {
	padding: 16px 0;
}
.header-main > * {
	margin: 0 8px;
}
.header-main, .header-main a, .header-main p {
	color: #fff;
}
.header-main a:hover {
	color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 767px) {
	.header-main {
		justify-content: flex-end;
		padding-top: 0;
    	padding-bottom: 0;
	}
	.header-main > * {
		margin: 0 4px;
	}
}
.header-cart > * {
	margin: 0 16px;
}
header .logo, #dropdown_menu .logo {
	padding: 24px; 
	background-color: #EE3831;
	align-self: stretch;
}
header .logo a, #dropdown_menu .logo a {
	display: block;
}
header .logo img, #dropdown_menu .logo img {
	width: 148px;
}
@media (max-width: 991px) {
	header .logo img, #dropdown_menu .logo img {
		width: 90px;
	}
}
@media (max-width: 767px) {
	.header-cart > * {
		margin: 0 8px;
	}
	header .logo, #dropdown_menu .logo {
		border-right: none;
		padding: 16px;
		min-height: 64px;
	}
	header .logo > div, #dropdown_menu .logo > div {
		justify-content: flex-start;
	}
	header .logo > div > * , #dropdown_menu .logo > div > * {
		margin-right: 32px;
	}
	header .logo button, #dropdown_menu .logo button {
		order: -1;
	}
}
.drop-arrow-red:after {
	content: url('src/drop-arrow-red.svg');
	margin-left: 4px;
}
.phones-dropdown {
	cursor: pointer;
	position: relative;
	white-space: nowrap;
}
.phones-dropdown:after {
	content: url('src/drop-arrow-white.svg');
	vertical-align: middle;
	line-height: 0;
	margin-left: 4px;
}
.phones-dropdown > a {
	font-size: inherit;
}
.phones-dropdown-menu {
	position: absolute;
	top: -16px;
	left: -16px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.15s ease-in-out;
	background-color: #fff;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	overflow: hidden;
}
.phones-dropdown-menu a {
	display: block;
	padding: 16px;
	background-color: #fff;
	white-space: nowrap;
	color: #111;
}
.phones-dropdown-menu a:hover {
	background-color: rgba(238, 56, 49, 0.05);
	color: #ee3831;
}
.phones-dropdown:hover .phones-dropdown-menu, .phones-dropdown-menu:hover {
	opacity: 1;
	pointer-events: all;
}
.uslugi-dropdown {
	cursor: pointer;
	position: relative;
}
.uslugi-dropdown-link:after {
	content: url('src/drop-arrow-white.svg');
	vertical-align: middle;
	margin-left: 4px;
	display: inline-block;
	width: 8px;
}
.uslugi-dropdown-menu {
	position: absolute;
	top: 20px;
	left: -16px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.15s ease-in-out;
	padding-top: 12px;
}
.uslugi-dropdown-wrapper {
	background-color: #fff;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	overflow: hidden;
}
.uslugi-dropdown-menu a {
	display: block;
	padding: 10px 16px;
	background-color: #fff;
	white-space: nowrap;
	color: #111;
	min-width: 144px;
}
.uslugi-dropdown-menu a:hover {
	background-color: rgba(238, 56, 49, 0.05);
	color: #ee3831;
}
.uslugi-dropdown:hover .uslugi-dropdown-link {
	opacity: 0.5;
}
.uslugi-dropdown:hover .uslugi-dropdown-menu, .uslugi-dropdown-menu:hover {
	opacity: 1;
	pointer-events: all;
}
.header-city {
	outline: none!important;
}
.header-city .city-city {
	outline: none!important;
	cursor: pointer;
	padding-bottom: 1px;
	border-bottom: 1px solid #fff;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}
.header-city .city-city:hover {
	opacity: 0.5;
}
.header-city img.city-city {
	border: none;
}
.header-social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100px;
	width: 100%;
}
.header-social a {
	display: inline-block;
}
.header-social a + a {
	margin-left: 4px;
}
.header-social a img {
	width: 40px;
	height: 40px;
}
@media (max-width: 767px) {
	.header-social {
		order: -1;
		max-width: initial;
		width: initial;
	}
	.header-social a {
		margin: 0;
	}
	.header-social a img {
		width: 24px;
		height: 24px;
	}
}
@media (max-width: 375px) {
	.header-social a img {
		width: 24px;
		height: 24px;
	}
}
.header-whatsapp-mobile {
	position: fixed;
	bottom: 32px;
	left: 32px;
	z-index: 999;
	background: linear-gradient(180deg, #61FD7D 0%, #26CF43 100%), #EE3831;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16);
	border-radius: 100%;
	padding: 18px;
}
.header-whatsapp-mobile img {
	width: 36px;
	height: 36px;
}
.header-phone-mobile {
	position: fixed;
	bottom: 32px;
	right: 32px;
	z-index: 999;
	background: #EE3831;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16);
	border-radius: 100%;
	padding: 16px;
}
.header-phone-mobile img {
	width: 40px;
	height: 40px;
}
/* city tippy */
.tippy-popper .tippy-white-theme {
	background-color: #fff;
	padding: 32px;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	text-align: left;
}
.tippy-popper[x-placement^=bottom] .tippy-white-theme .tippy-arrow {
	border-bottom-color: #fff;
}
.tippy-popper .tippy-white-theme .city-buttons {
	margin-top: 24px;
}
.tippy-popper .tippy-white-theme .city-buttons > .city-select {
	padding: 16px 24px;
	margin-left: 16px;
}
.tippy-popper .tippy-white-theme .city-select-content {
	width: 256px;
}
.tippy-popper .tippy-white-theme .city-select-content .city-list {
	margin: 24px 0 0 0;
	padding-left: 0;
	list-style-type: none;
}
.tippy-popper .tippy-white-theme .city-select-content .city-list p {
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	display: inline;
}
.tippy-popper .tippy-white-theme .city-select-content .city-list p:hover {
	color: #ee3831;
}
/* search */
#search {
	background-color: #eee;
	display: flex;
	align-items: center;
	transition: all 0.2s ease-in-out;
	flex: 1;
	border-radius: 8px;
}

#search input {
	min-height: 0;
	height: 40px;
	padding: 0 10px;
	border: none;
	color: rgba(0, 0, 0, 0.6);
	background-color: transparent;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}
@media (max-width: 767px) {
	#search input {
		padding: 0 0 0 6px;
	}
	#search .btn-search {
		padding: 10px 5px;
	}
}
/* cart */
#cart > .btn {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 0;
	color: rgba(0, 0, 0, 0.6);
	text-transform: initial;
	padding: 0;
	background: transparent!important;
	text-shadow: none!important;
	border: none!important;
	box-shadow: none!important;
	position: relative;
}
#cart > .btn:before {
	content: url('src/ic-cart.svg');
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
}
#cart.open > .btn {
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn, #cart > .btn:hover {
	color: #444;
}
.button-cart-total {
	position: absolute;
    left: 10px;
    top: -7px;
    background-color: #EE3831;
    border-radius: 100%;
    color: #fff;
    min-width: 16px;
    min-height: 16px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em!important;
}
#cart .cart-table {
	max-height: 400px;
	overflow: auto;
}
#cart .dropdown-menu {
	z-index: 1001;
}
#cart .dropdown-menu {
	width: 516px;
}
#cart .dropdown-menu a, #cart .dropdown-menu, #cart .dropdown-menu p {
	color: #111;
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 0;
	font-size: 16px;
	text-align: left;
}
#cart .dropdown-menu .buy-button {
	display: table;
	height: 64px;
	width: 224px;
	padding: 0;
	border: 3px solid rgb(17, 17, 17)!important;
    text-align: center;
}
#cart .dropdown-menu .buy-button a {
	display: table-cell;
	vertical-align: middle;
	color: inherit;
	font-size: 20px;
}
#cart > .btn > div {
	margin-left: 8px;
}
#cart > .btn.added {
	animation: added 0.5s ease-in-out;
}
@keyframes added {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
#cart > .btn > div p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
#cart > .btn > * {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
#cart > .btn p {
	margin-bottom: 0;
}
#cart > .btn i {
	display: none;
}
#cart .dropdown-menu {
	margin-top: 20px;
	padding: 32px;
}
#cart .table-striped tr td:first-child {
	width: 64px;
}
#cart .table-striped tr td:nth-child(2) {
	padding: 0 16px;
}
#cart .table-striped tr td:nth-child(3) {
	width: 64px;
}
#cart .table-striped tr td:nth-child(4) {
	width: 96px;
	padding-right: 4px;
}
#cart .table tr td {
	vertical-align: middle;
	font-size: 16px;
}
#cart .table tr > td {
	padding: 4px 0;
	border: none;
}
#cart .img-thumbnail {
	padding: 0;
	background: transparent;
	border: none;
	border-radius: 0;
}
#cart .table tr {
	background: transparent;
	border: none;
}
#cart .table .name, #cart .table .sub-name {
	margin: 0;
}
#cart .total {
	line-height: 2.5em;
}
#cart .checkout {
	width: 227px;
	height: 64px;
	font-size: 20px;
}
#dropdown_menu {
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 10000;
}
#dropdown_menu_content {
  	background-color: #fff;
	border: none;
  	width: 100%;
  	transition: all 0.2s ease-in-out;
  	pointer-events: none;
  	position: absolute;
  	left: -101%;
  	height: 100vh;
  	backface-visibility: hidden;
  	-webkit-backface-visibility: hidden;
}
#dropdown_menu_content.active {
	left: 0;
    pointer-events: all;
}

#dropdown_menu_content .dropdown-categories {
	position: relative;
}

#dropdown_menu_content .aside-categories {
	height: calc(100vh - 98px);
	outline: 1px solid #eee;
	overflow-x: hidden;
	overflow-y: auto; 
}

#dropdown_menu_content .aside-categories li {
	position: static;
}

aside {
	outline: 1px solid #eee;
	float: left;
	padding: 0!important;
}

.aside-categories li {
	position: relative;
	cursor: pointer;
}

.aside-categories > li > a {
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: #fff;
    min-height: 64px;
}

.aside-categories > li > a:hover {
	background-color: rgba(238, 56, 49, 0.05);
}

.aside-categories > li > a > img {
	margin-right: 20px;
	width: 24px;
	height: 24px;
}

.aside-categories > li > a > span {
	display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.aside-subcategories {
	position: absolute;
	padding: 32px;
	opacity: 0;
	left: 90%;
	top: -16px;
	pointer-events: none;
	max-width: 742px;
	width: 100vw;
	z-index: 10001;
	background-color: #fff;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16);
	border-radius: 4px;
	max-height: 80vh;
	overflow: auto;
	transition: opacity 0.15s ease-in-out;
}

.aside-subcategories .aside-subcategories-wrapper {
	columns: 2;
	column-gap: 1rem;
}

.aside-subcategories a {
	padding: 8px 0;
	display: block;
}
.aside-subcategories a span {
	margin-left: 4px;
}
.aside-subcategories a img {
	margin-left: 6px;
}

@media (max-width: 991px) {
	.aside-subcategories {
		max-width: 500px;
	}
}

@media (min-width: 768px) {
	.aside-categories li:hover .aside-subcategories, .aside-categories .aside-subcategories:hover {
		pointer-events: all;
		opacity: 1;
	}
}

@media (max-width: 767px) {
	#dropdown_menu {
		height: 100%;
		pointer-events: none;
	}
	#dropdown_menu_content {
		height: 100%;
	}
	#dropdown_menu_content .dropdown-categories {
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.aside-wrapper {
		height: 100%;
		position: relative;
	}
	.aside-menu {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0;
	}
	.aside-menu li {
		margin: 0;
		padding: 0;
	}
	.aside-menu li > a {
		display: block;
	}
	.aside-menu .aside-phones {
		margin-top: auto;
		margin-bottom: 32px;
	}
	.aside-menu .aside-phones .phones-dropdown-menu {
		display: flex;
		flex-direction: column-reverse;
		bottom: -16px;
		top: initial;
	}
	.aside-menu .aside-phones .header-phones {
		padding: 0 16px;
	}
	.aside-menu li > a, .aside-menu li > p, .aside-menu .aside-phones {
		padding: 20px 24px;
	}
	.aside-menu li > a, .aside-menu li > p {
		width: 100%;
		font-family: 'Akrobat', sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 24px;
	}
	.aside-menu li > p img {
		transform: rotate(180deg);
	}
	.aside-sub-menu {
		padding-top: 12px;
	}
	.aside-sub-menu li > p img {
		transform: none;
	}
	#dropdown_menu_content .aside-categories {
		padding: 32px 16px;
	}
	#dropdown_menu_content .aside-categories, #dropdown_menu_content .aside-sub-menu {
		position: absolute;
		left: -100%;
		top: 0;
		bottom: 0;
		height: initial;
		margin-bottom: 0;
		background-color: #fff;
		transition: left 0.15s ease-in-out;
		width: 100%;
	}
	#dropdown_menu_content .aside-categories.active, #dropdown_menu_content .aside-sub-menu.active {
		left: 0;
	}
	.aside-categories li {
		padding: 0;
		min-height: initial;
	}
	.aside-categories li a {
		padding: 0;
	}
	.aside-subcategories {
		opacity: 1;
		position: fixed;
		left: -100%;
		top: 64px;
		bottom: 0;
		max-height: initial;
		border-radius: 0;
		box-shadow: none;
		transition: left 0.15s ease-in-out;
		overflow: auto;
		padding: 32px 16px;
	}
	.aside-subcategories .aside-subcategories-wrapper {
		columns: unset;
	}
	.aside-subcategories a {
		display: block!important;
		padding: 8px 0!important;
	}
	.aside-subcategories.active {
		left: 0;
		pointer-events: all;
	}
}

@media not all and (min-resolution:.001dpcm) and (max-width: 767px) { 
	@supports (-webkit-appearance:none) {
		#dropdown_menu_content .aside-categories {
			padding-bottom: 64px;
		}
    	.aside-menu .aside-phones {
    		margin-bottom: 64px;
    	}
    }
}

@media (max-width: 767px) {
	@supports (-webkit-touch-callout: none) {
		#dropdown_menu_content .aside-categories {
			padding-bottom: 64px;
		}
	    .aside-menu .aside-phones {
    		margin-bottom: 64px;
    	}
	}
}

aside .contacts-list {
  margin-top: 48px;
}

aside .contacts-list > div {
  padding: 32px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border-bottom: 1px solid #EEE;
}

aside .contacts-list > div:last-child {
  margin-bottom: -1px;
}

aside .contacts-list .contacts-header {
  padding-bottom: 24px;
}

aside .contacts-list .contacts-header h2 {
	margin: 0;
}

aside .contacts-list .contacts-header a {
  letter-spacing: initial;
  text-transform: uppercase;
  margin-top: 8px;
  display: inline-block;
}

aside .contacts-list .contacts-header a > * {
  display: inline-block;
  vertical-align: middle;
}

aside .contacts-list .contacts-header a > img {
	margin-right: 8px;
	width: 16px;
	height: 10px;
}

aside .contacts-list .contacts-contact {
  -webkit-box-shadow: 8px 0px 0px 0px transparent inset;
          box-shadow: 8px 0px 0px 0px transparent inset;
  pointer-events: all;
  cursor: pointer;
}

aside .contacts-list .contacts-contact h3 {
  text-transform: uppercase;
  margin-bottom: 8px;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  letter-spacing: 0;
}

aside .contacts-list .contacts-contact p img {
  width: 18px;
  height: 18px;
}

aside .contacts-list .contacts-contact p > * {
  vertical-align: middle;
}

aside .contacts-list .contacts-contact.active {
  -webkit-box-shadow: 8px 0px 0px 0px #EE3831 inset;
          box-shadow: 8px 0px 0px 0px #EE3831 inset;
  pointer-events: none;
}

aside .contacts-list .contacts-contact.active h3 {
  color: #EE3831;
}
aside .contacts-address:before, aside .contacts-telephone:before {
	content: url('/image/src/contacts-location.svg');
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 4px;
	display: inline-block;
}
aside .contacts-telephone {
	pointer-events: all;
}
aside .contacts-telephone:before {
	content: url('/image/src/contacts-phone.svg');
}

aside + div {
	outline: 1px solid #eee;
}

aside + .col-sm-9 {
	width: 80%;
}

@media (max-width: 767px) {
	aside + .col-sm-9 {
		width: 100%;
	}
}

.contacts-map {
  height: 100%;
}

.contacts-map h1 {
  text-transform: uppercase;
  margin: 0 0 36px 0;
}

@media (max-width: 767px) {
	#information-contact aside {
		display: block!important;
		float: none;
	}
	#information-contact > .row > .flex-container {
		display: block;
	}
	#information-contact > .row > .flex-container > p.mobile {
		float: none;
		margin-top: 32px;
	}
	#information-contact aside .contacts-list {
		margin-top: 16px;
	}
	#information-contact aside .contacts-list > div:last-child {
		margin-bottom: 0;
	}
	#information-contact #content {
		padding-top: 0;
		min-height: 416px;
	}
	.contacts-map {
		height: 416px;
	}
}

/* home */
#content {
	min-height: 600px;
	padding-top: 48px;
}
#content{
	padding-top: 0px;
}
.padding{
	padding: 0px;
}
#common-home #content {
	padding-top: 0;
}
.home-banner {
	overflow: hidden;
}
.home-banner a {
	display: block;
}
.home-banner img {
	width: 100%;
}
.home-banner .swiper-button-next, .home-banner .swiper-button-prev {
	width: 37px;
	line-height: 112px;
	border: none;
	background-color: transparent;
	transition: all 0.2s ease-in-out;
	text-align: center;
	opacity: 0;
}
.home-banner .swiper-button-next:after, .home-banner .swiper-button-prev:after {
	content: url('src/banner-next.svg');
	font-size: unset;
	font-family: unset;
	line-height: 0;
	transition: all 0.2s ease-in-out;
	filter: none;
}
.home-banner .swiper-button-prev:after {
	content: url('src/banner-prev.svg');
}
.home-banner:hover .swiper-button-next, .home-banner:hover .swiper-button-prev {
	opacity: 1;
}
.home-banner .swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-banner .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border: 1.5px solid #9c9ca9;
	background-color: #fff;
	opacity: 1;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.home-banner .swiper-pagination-bullet-active {
	background-color: #fff;
	width: 18px;
	height: 18px;
	border: 1.5px solid #FF4E47;
}
.popular-category:first-child {
	padding-top: 0;
}
.popular-category {
	padding: 40px 0 24px 0;
}
.popular-category-name {
  font-family: Akrobat;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
@media (max-width: 767px) {
	.popular-category-name {
	  font-size: 36px;
	  line-height: 36px;
	}
}
.panel-heading {
	margin: 24px 0 16px 0;
	padding-top: 0;
	padding-bottom: 0;
	background: #fff;
}
.panel-title {
	font-size: 36px;
	color: rgb(17, 17, 17);
}
.product-heading > * {
	margin: 0;
}
.product-heading {
	margin-bottom: 32px;
}
.product-category-thumb {
	padding: 0 16px;
}
.product-layout {
	outline: 1px solid #eee;
	background-color: transparent;
	margin: 0;
	box-shadow: none;
	transition: all 0.2s ease-in-out;
	padding: 12px 24px;
}
@media (max-width: 767px) {
	.product-layout {
		padding: 12px;
	}
}
.product-layout:hover {
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16);
}
.product-thumb {
	margin: 0;
	padding: 0;
}
.product-thumb .image {
	text-align: center;
	margin-right: 24px;
	display: block;
}
.product-thumb .image img {
	max-width: 96px;
	max-height: 96px;
	width: 100%;
}
.product-thumb h3, .product-thumb .price {
	margin: 0;
}
.product-thumb-desc {
	width: 100%;
}
.product-thumb-title .price-js {
	display: inline-block;
}
.product-buy {
	justify-content: flex-end;
	flex-wrap: wrap;
}
.product-buy-quantity {
	margin-right: 8px;
	height: 40px;
}
.product-buy-quantity > * {
	height: 100%;
}
.product-buy-quantity > input[type=number] {
	width: 50px;
	padding-left: 0;
	padding-right: 0;
	border: none!important;
}
.product-home-layout .product-thumb-layout, .product-home-layout .product-thumb-title {
	display: block;
}
.product-home-layout .product-thumb-title .item-title {
	min-height: 50px;
}
.product-home-layout .product-thumb-title .item-title a {
	display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.product-home-layout .product-thumb .image {
	margin: 0 0 8px 0;
}
.product-home-layout .product-thumb .image img {
	max-width: 272px;
	max-height: 160px;
}
.product-home-layout .product-buy {
	justify-content: center;
}
.product-home-layout  .product-buy > * {
	margin: 4px 8px;
}
.product-single-view {
	padding: 12px;
}
.product-single-view .product-thumb-desc {
	padding: 12px;
}
.product-single-view .product-thumb .image img {
	max-width: 200px;
    max-height: 200px;
}
.product-single-view .product-thumb-title h3 {
	padding-right: 24px;
}
.product-single-view .product-thumb-title > div {
	white-space: nowrap;
	text-align: right;
}
.product-single-view .product-thumb-title > div .price-2-rouble {
	margin-bottom: 16px;
}
.product-single-view .product-buy {
	flex-wrap: nowrap;
}
@media (max-width: 480px) {
	.product-thumb-layout, .product-thumb-title {
		display: block!important;
	}
	.product-single-view .product-thumb-title .item-title {
		min-height: 50px;
	}
	.product-buy {
		justify-content: center;
	}
	.product-buy > * {
		margin: 8px;
	}
	.product-single-view .product-thumb-title h3 {
		padding-right: 0;
	}
	.product-single-view .product-thumb .image {
		margin: 0 0 8px 0;
	}
	.product-single-view .product-thumb-title > div {
		text-align: left;
	}
	.product-single-view .product-thumb-title > div .price-2-rouble {
		margin-bottom: 0;
	}
	.product-single-view .product-buy {
		flex-wrap: wrap;
	}
}
@media (max-width: 768px) {
	.product-buy {
		flex-wrap: wrap;
	}
}
.product-desc .product-buy {
	justify-content: flex-start;
}
.product-desc .price {
	margin: 0;
	font-size: 24px;
}
.product-desc .product-buy-quantity input {
	font-size: 16px;
	width: 60px;
}
.breadcrumb {
	margin: 0 0 8px 0!important;
	padding: 8px 0;
	background: transparent;
}
.breadcrumb>li+li:before {
	display: none;
}
.breadcrumb i {
	font-size: 12px;
}
.breadcrumb > li:last-child::after{
	display: none;
}
.breadcrumb > li:last-child, .breadcrumb > li:last-child a {
	color: #888;
}
.breadcrumb > li:after {
	content: " / ";
}
.breadcrumb a {
	color: #333;
	font-size: 12px;
	line-height: 1.33em;
	transition: all 0.2s ease-in-out;
	padding: 0;
}
.pagination-block {
	padding-top: 16px;
	padding-bottom: 16px;
}
.pagination {
	margin: 0;
}
.pagination>li>a, .pagination>li>span {
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #eee;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease-in-out;
    font-size: 16px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	background-color: #EE3831;
    border: 1px solid #EE3831;
    color: #fff;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #EE3831;
    border: 1px solid #EE3831;
    color: #fff;
}
.panel-heading h2 {
	margin: 0;
}
/* category */
.sort-block {
	position: relative;
}
.sort-block > button {
	background-color: #fff!important;
	border-radius: 0;
	border: 1px solid #eee!important;
	padding: 14px;
	text-transform: unset;
	color: #111!important;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	opacity: 1!important;
	display: flex;
	align-items: center;
	letter-spacing: initial;
	padding: 0 12px;
	margin: 8px 4px;
	height: 50px;
}
.sort-block > button:before {
	content: url('src/sort.svg');
	display: inline-block;
	margin-right: 12px;
	width: 24px;
	height: 24px;
	line-height: 0;
}
.sort-block > button:after {
	content: url('src/drop-arrow.svg');
	display: inline-block;
	margin-left: 8px;
	width: 12px;
	height: 12px;
	line-height: 0;
	transform: none;
	transition: all 0.2s ease-in-out;
}
.sort-block > button.active:after {
	transform: rotate(-180deg);
}
.sort-block .btn-filter:before, .sort-block .btn-filter:after {
	content: none;
}
.sort-block .btn-filter img {
	margin-right: 12px;
	line-height: 0;
}
.sort-block .sort-options {
	position: absolute;
	top: 48px;
	right: 0;
	opacity: 0;
	pointer-events: none;
	transition: all 0.1s ease-in-out;
	background-color: #fff;
	padding: 8px 0;
	box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	z-index: 10;
	min-width: 250px;
	border: 1px solid #eee!important;
}
.sort-block .sort-options.active {
	opacity: 1;
	pointer-events: all;
}
.sort-block .sort-options a {
	display: block;
	padding: 14px 16px;
	background-color: #fff;
	transition: all 0.2s ease-in-out;
	font-size: 14px;
}
.sort-block .sort-options a:hover, .sort-block .sort-options a:active, .sort-block .sort-options a.active {
	background-color: #EE3831;
	color: #fff;
}
@media (max-width: 767px) {
	.sort-block {
		margin: 8px 0;
	}
	.sort-block .sort-options {
		left: 0;
	}
}
/* product */
.product-container {
	align-items: flex-start;
}
@media (max-width: 767px) {
	.product-container > * {
		padding: 0;
	}
}
.product-name h1 {
	text-transform: none;
}
.product-name > * {
	margin: 0 0 16px 0;
}
.product-thumbnail {
	padding: 0;
}
.thumbnail {
    border: none;
    padding: 0;
	margin-bottom: 16px;
}
.thumbnail img {
	max-width: 601px;
	width: 100%;
}
#product {
	margin-bottom: 0;
}
#product h2 {
	margin-top: 0;
}
@media (max-width: 767px) {
	#product #button-cart {
		width: 100%;
	}
}
#description {
	margin-top: 32px;
}
#description h2 {
	margin: 0 0 16px 0;
}
#description p {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 32px;
	color: #333;
}
.product-related {
	margin-top: 48px;
	padding: 28px 0;
	outline: 1px solid #eee;
}
/* about */
.about-section h2 {
	margin: 48px 0 24px 0;
}
.about-banner {
	display: flex;
	min-height: 272px;
	background: #333;
	width: 100%;
}
.about-banner-mobile {
	min-height: 208px;
	align-items: center;
}
.about-banner-text {
	padding: 16px 32px;
	position: relative;
}
.about-banner-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.about-banner-list li {
	margin-bottom: 12px;
}
.about-banner-list li:before {
	content: "";
	display: inline-block;
	background-color: #ee3831;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	margin-right: 8px;
	vertical-align: middle;
}
.about-banner-text:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ee3831;
	transform: skewX(-22deg);
}
.about-banner-mobile img {
	width: 171px;
}
.about-banner-mobile li {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
}
.about-banner-text h1 {
	margin: 0;
	z-index: 1;
}
@media (max-width: 767px) {
	.about-banner {
		overflow: hidden;
	}
	.about-banner-text:after {
		transform: none;
	}
	.about-banner-list li {
		margin-bottom: 20px;
	}
}
.about-banner-list li:last-child {
	margin-bottom: 0;
}
.about-image {
	height: 362px;
	background-repeat: repeat-x;
	background-size: auto;
	background-position: center;
	margin: 24px 0;
}
.about-image-1 {
	background-image: url('src/about-1.jpg');
}
.about-image-2 {
	background-image: url('src/about-2.jpg');
}
.about-cert {
	margin: 24px auto 48px auto;
	white-space: nowrap;
	overflow: auto;
	text-align: center;
	max-width: 956px;
	display: flex;
	align-items: center;
}
.about-cert > img {
	max-height: 244px;
}
.about-team {
	margin-top: 72px;
}
.about-team-devochki {
	margin: 0 -20px;
}
.about-team-devochki > div {
	width: 295px;
	margin: 0 20px 64px 20px;
}
.about-team-devochki > div img {
	width: 100%;
}
.about-team-devochki > div > h3 {
	margin: 16px 0 8px 0;
}
.about-team-devochki > div > .about-team-tel {
	margin: 16px 0 10px 0;
}
.about-team-devochki > div > div {
	margin-bottom: 10px;
}
.about-team-devochki > div .btn-rect {
	padding: 8px 16px;
	letter-spacing: initial;
}
.about-team-devochki > div .about-team-plus {
	font-family: 'Akrobat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #EE3831;
	border-radius: 3px;
	margin: 0 4px;
}
@media (max-width: 1609px) {
	.about-team-devochki {
		margin: 0 -5px;
	}
	.about-team-devochki > div {
		margin: 0 5px 64px 5px;
	}
}
@media (max-width: 767px) {
	.about-team-devochki {
		margin: 0;
		padding: 0 4px;
	}
	.about-team-devochki > div {
		margin: 0 auto 16px auto;
		width: 50%;
		padding: 0 4px;
	}
	.about-team-devochki > div img {
		width: 140px;
	}
	.about-team-devochki > div .btn-rect {
		padding: 8px 5px;
		font-size: 16px;
    	line-height: 1em;
	}
}
.develop-image {
	margin-top: 16px;
	margin-bottom: 16px;
}
.develop-image > div {
	margin: 0 8px;
}
.develop-image img {
	width: 100%;
}
@media (max-width: 767px){
	.develop-image > div {
		margin: 16px 0;
	}
}
.magazine-image {
	text-align: center;
	align-items: flex-start;
}
.magazine-image img {
	margin-bottom: 16px;
	max-width: 307px;
}
.download-presentation {
  background-color: #F1F2F5;
  margin: 0;
  margin-top: 16px;
  min-height: 192px;
}

.download-presentation h2 {
  margin: 0;
}

.download-presentation a {
  margin-left: 16px;
}
#information-contact {
	margin: 0;
}
@media (max-width: 767px) {
	.download-presentation h2 {
		font-size: 24px;
	}
}
/* gallery */
.album-list {
	margin-bottom: 25px;
}
/* stocks */
.stocks-stock {
	margin-bottom: 8px;
	background-color: #fff;
	outline: 1px solid #eee;
	padding: 16px 0;
}
.stocks-stock > div > * {
	padding: 0 8px;
}
.stocks-results, .stocks-products-results {
	display: none;
}
.stocks-image {
	height: 184px;
}
.stocks-image img {
	height: 100%;
	border-radius: 8px;
}
.stocks-desc h2 {
	margin-bottom: 16px;
}
.stocks-desc .stocks-discount {
	margin-bottom: 16px;
}
.stocks-desc .stocks-date {
	margin-bottom: 16px;
}
.stocks-product-heading {
	margin-bottom: 0;
}
.stocks-banner {
	margin: 8px 0 16px 0;
}
.stocks-banner img {
	width: 100%;
}
.stocks-product-block {
	margin-top: 16px;
	padding: 0 4px;
}
@media (max-width: 767px) {
	.stocks-image {
		margin-bottom: 16px;
		height: initial;
	}
	.stocks-image img {
		width: 100%;
	}
}
/* footer */
footer {
	margin-top: auto;
	border-top: 1px solid #eee;
}
footer .footer-wrapper {
	padding-top: 24px;
}
footer .footer-main {
  padding-bottom: 24px;
}

footer h3 {
	text-transform: uppercase;
}

footer .footer-main > div {
	margin: 0 8px;
}

footer .footer-info {
  padding-left: 0;
}

footer .footer-info > div {
  padding-right: 0;
}

footer .sub-header {
  margin-bottom: 24px;
}

footer .footer-contacts {
  margin-bottom: 16px;
}

footer .footer-contacts p {
  margin-bottom: 4px;
}

footer .footer-list li {
  margin-bottom: 8px;
}

footer .footer-list li a {
  border-bottom: none;
}

footer .footer-list li a:hover {
  border-bottom: none;
}

footer .footer-append {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #EEE;
}

footer .price-2 a {
	font-size: inherit;
	line-height: inherit;
}

@media (max-width: 767px) {
	footer {
		padding-bottom: 104px;
	}
	footer .footer-main > div {
		margin: 16px 0 24px 0;
		padding: 0;
	}
}

.fa {
	font-size: 12px;
}

.flex {
	flex: 1;
}
.input-group-sm>.form-control, .input-group-sm>.form-control option, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
	font-size: 20px;
	font-weight: inherit;
	border: none;
	padding: 0 8px;
	background: transparent;
	box-shadow: none;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 14px;
	cursor: pointer;
	min-height: 40px;
	border: 1px solid #C1C4CE;
	border-radius: 0;
	box-shadow: none;
	color: #333;
	transition: all 0.2s;
}
textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control,
input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control,
input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control,
input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	-webkit-appearance: none;
}
input[type="text"] {
	cursor: initial!important;
}
select.form-control:hover {
	color: #111;
}
.input-group .input-group-addon {
	height: 30px;
	min-width: 100px;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
.alert-success {
	color: #808080;
	display: none;
}
.close {
	font-size: 32px;
}
.alert-dismissable .close, .alert-dismissible .close {
	top: 0;
	right: 0;
}
/* list group */
.list-group a {
	color: #888888;
	padding: 8px 12px;
	border: none;
	font-weight: 800;
	font-size: 30px;
	background: transparent;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover, .list-group a:focus, .list-group a.active:focus {
	color: #111;
	background: transparent;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}
/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
.qc-totals .row:first-child {
	display: none!important;
}
.qc-totals .row:last-child {
	border: none!important;
}
.form-horizontal .control-label {
	text-align: left!important;
	color: inherit;
	font-weight: inherit;
}
/*swiper*/
.swiper-viewport {
	border: none!important;
    border-radius: 0!important;
    box-shadow: none!important;
}
.swiper-button-next:before, .swiper-button-prev:before {
	content: none!important;
}
/* EXTRA */
.privacy-frame {
	width: 100%;
	height: 100%;
	min-height: 600px;
}
/* mobile */
@media (min-width: 768px) {
	.mobile {
		display: none!important;
	}
}
@media (max-width: 767px) {
	.mobile-block {
		display: block;
	}
	.mobile-block > * {
		float: none;
	}
	.mobile-left {
		text-align: left;
	}
	.mobile-center {
		text-align: center;
	}
	.mobile-right {
		text-align: right;
	}
	.hide-mobile {
		display: none!important;
	}
	.display-1, h2 {
		font-size: 30px;
		line-height: 1.2em;
	}
}
/*category*/
.category-subcategories {
	align-items: flex-start;
	border-bottom: none!important;
}
.category-subcategories a {
	display: inline-block;
	padding: 10px 16px;
	background-color: #eee;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	margin: 4px;
	transition: all 0.2s ease-in-out;
}
.category-subcategories a:hover {
	background-color: #ccc;
}
.category-subcategories .category-subcategories-list {
	max-height: 100%;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
@media (max-width: 767px) {
	.category-subcategories .category-subcategories-list {
		max-height: 100%;
	}
}
.category-subcategories .category-subcategories-all {
	margin: 16px 0;
	display: block;
}
.category-subcategories .category-subcategories-all img {
	margin-right: 8px;
	transform: none;
	transition: all 0.2s ease-in-out;
}
.category-subcategories .category-subcategories-all.active img {
	transform: rotate(-180deg);
}
.category-description {
	margin-top: 16px;
	margin-bottom: 32px;
}
.category-description p {
	font-size: 14px;
}
.category-description p,
.category-description h1, 
.category-description h2, 
.category-description h3, 
.category-description h4, 
.category-description h5, 
.category-description h6 {
	margin: 8px 0;
} 
.category-description h1, 
.category-description h2, 
.category-description h3, 
.category-description h4, 
.category-description h5, 
.category-description h6 {
	font-family: 'Akrobat'!important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	right: 1px!important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	left: 1px!important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	height: 20px!important;
}

@media (max-width: 767px) {
	#jivo-iframe-container, jdiv {
		display: none!important;
	}
}
.minimized {
  width: 336px;
  cursor: pointer;
}
/* увеличенная картинка */
#magnify {
  display: none;
  position: fixed;
  max-width: 767px;
  width: 100%;
  height: auto;
  z-index: 9999;
  max-height: 100vh;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%);
}
#magnify img {
  width: 100%;
}
@media (max-width: 767px) {
	#magnify {
		max-width: 90vw;
	}
}
/* затемняющий фон */
#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}
#close-popup {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
}
#close-popup i {
  width: 28px;
  height: 28px;
  background:url(src/close.svg) no-repeat center center;
  background-size: 24px 20px;
  display: block;
}