{{ header }}
<div id="product-product" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}" itemscope itemtype="http://schema.org/Product">{{ content_top }}
      <div class="row">
        <div class="col-m-4 col-l-3 col-center col-xs-12">
          <div class="product-name">
            <ul class="breadcrumb" style="display: block;">
              {% for breadcrumb in breadcrumbs %}
              <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
              {% endfor %}
            </ul>
            <h1 itemprop="name">{{ heading_title }}</h1>
            {% if model %}<p class="body-2 main-gray">Артикул: {{ model }}</p>{% endif %}
          </div>
          <div class="product-container flex-container mobile-block">
            <div class="product-thumbnail col-md-9 col-sm-6 col-xs-12">
              {% if thumb or images %}
                {% if images %}
                  <div class="swiper-viewport">
                    <div class="swiper-container">
                      <div class="swiper-wrapper">
                      {% if thumb %}
                      <div class="swiper-slide"><div class="thumbnail" title="{{ heading_title|replace({'"': ''}) }}"><img src="{{ thumb }}" title="{{ heading_title|replace({'"': ''}) }}" alt="{{ heading_title|replace({'"': ''}) }}" itemprop="image"/></div></div>
                      {% endif %}

                      {% if images %}
                      {% for image in images %}
                      <div class="swiper-slide"><div class="thumbnail" title="{{ heading_title|replace({'"': ''}) }}"><img src="{{ image.thumb }}" title="{{ heading_title|replace({'"': ''}) }}" alt="{{ heading_title|replace({'"': ''}) }}" itemprop="image"/></div></div>
                      {% endfor %}
                      {% endif %}
                      </div>
                    </div>
                    <div class="swiper-pager">
                      <div class="swiper-button-next">
                        <img src="image/src/ic-arrow-right.svg" alt="След.">
                      </div>
                      <div class="swiper-button-prev">
                        <img src="image/src/ic-arrow-left.svg" alt="Пред.">
                      </div>
                    </div>
                  </div>
                {% else %}
                  <span class="thumbnail" title="{{ heading_title|replace({'"': ''}) }}"><img src="{{ thumb }}" title="{{ heading_title|replace({'"': ''}) }}" alt="{{ heading_title|replace({'"': ''}) }}" /></span>
                {% endif %}
              {% else %}
                <div class="thumbnail" title="{{ heading_title|replace({'"': ''}) }}"><img src="image/placeholder.png" title="{{ heading_title|replace({'"': ''}) }}" alt="{{ heading_title|replace({'"': ''}) }}" itemprop="image" style="max-width: 350px;"></div>
              {% endif %}
            </div>
            <div id="product" class="col-md-3 col-sm-6 col-xs-12">
              <div class="product-desc product-js">
                {% if price %}
                  <div>
                    {% if not special %}
                      <p class="price-3 price-js" data-price="{{ price_raw }}" itemprop="offers" itemscope itemtype="http://schema.org/Offer">{{ price }}</p>
                    {% else %}
                      <p class="price-old">{{ price }}</p>
                      <p class="price-3 price-js price-new" data-price="{{ price_raw }}" itemprop="offers" itemscope itemtype="http://schema.org/Offer">{{ special }}</p>
                    {% endif %}
                    <span itemprop="priceCurrency" style="display: none;">RUB</span>
                  </div>
                {% endif %}
                <div class="product-buy flex-container flex-center">
                  <div class="product-buy-quantity flex-container flex-center">
                    <button type="button" class="btn-minus"></button>
                    <input type="number" name="quantity" value="1" min="1">
                    <button type="button" class="btn-plus"></button>
                  </div>
                </div>
              </div>
              {% if options %}
              <hr>
              <h3>{{ text_option }}</h3>
              {% for option in options %}
              {% if option.type == 'select' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                  <option value="">{{ text_select }}</option>
                  {% for option_value in option.product_option_value %}
                  <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                  {% if option_value.price %}
                  ({{ option_value.price }})
                  {% endif %} </option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}
              {% if option.type == 'radio' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                  <div class="radio">
                    <label>
                      <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                      {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %}  {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                      {{ option_value.name }}
                      {% if option_value.price %}
                      ({{ option_value.price }})
                      {% endif %} </label>
                  </div>
                  {% endfor %} </div>
              </div>
              {% endif %}
              {% if option.type == 'checkbox' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                      {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %}  {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                      {{ option_value.name }}
                      {% if option_value.price %}
                      ({{ option_value.price }})
                      {% endif %} </label>
                  </div>
                  {% endfor %} </div>
              </div>
              {% endif %}
              {% if option.type == 'text' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
              </div>
              {% endif %}
              {% if option.type == 'textarea' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
              </div>
              {% endif %}
              {% if option.type == 'file' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label">{{ option.name }}</label>
                <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
              </div>
              {% endif %}
              {% if option.type == 'date' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group date">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              {% endif %}
              {% if option.type == 'datetime' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group datetime">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              {% endif %}
              {% if option.type == 'time' %}
              <div class="form-group{% if option.required %} required {% endif %}">
                <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                <div class="input-group time">
                  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% if recurrings %}
              <hr>
              <h3>{{ text_payment_recurring }}</h3>
              <div class="form-group required">
                <select name="recurring_id" class="form-control">
                  <option value="">{{ text_select }}</option>
                  {% for recurring in recurrings %}
                  <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                  {% endfor %}
                </select>
                <div class="help-block" id="recurring-description"></div>
              </div>
              {% endif %}
              <div class="form-group">
                <input type="hidden" name="product_id" value="{{ product_id }}" />
                <br />
                {% if not in_cart %}
                <button type="button" id="button-cart" data-loading-text="покупка..." class="btn btn-primary mobile-block korzina__click">В корзину</button>
                {% else %}
                <button class="btn btn-primary mobile-block active" style="padding: 0;">
                  <a href="checkout">В корзине</a>
                </button>
                {% endif %}
              </div>
              {% if measure_name %}<p class="body-2 space-black" style="margin-top: 24px; white-space: nowrap">Цена указана за {{ measure_name }}</p>{% endif %}
              <p class="body-2 space-black" style="margin-top: 24px; ">О&nbsp;наличии и&nbsp;актуальной ценe данного товара на&nbsp;складе Вашего города уточняйте у&nbsp;менеджера по&nbsp;указанным номерам или в&nbsp;онлайн-чате</p>
              {% if minimum > 1 %}
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
              {% endif %}
              {% if review_status %}
              <div class="rating">
                <p>{% for i in 1..5 %}
                  {% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
                  {% endfor %} <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a> / <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ text_write }}</a></p>
                <hr>
              </div>
              {% endif %}
            </div>
          </div>
          {% if description %}
            <div id="description" itemprop="description">
              <h2 class="uppercase">Описание</h2>
              <p>{{ description }}</p>
            </div>
          {% endif %}
        </div>
      </div>
      {% if products %}
      <div class="product-related row">
        <div class="col-m-5 col-l-3 col-xs-12 col-center">
          <h2 class="uppercase">С этим товаром покупают</h2>
        </div>
      </div>
      <div class="row">
        {% for product in products %}
          {% include 'default/template/common/product-thumb.twig' %}
        {% endfor %}
      </div>
      {% endif %}
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
  $.ajax({
    url: 'index.php?route=product/product/getRecurringDescription',
    type: 'post',
    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
    dataType: 'json',
    beforeSend: function() {
      $('#recurring-description').html('');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();

      if (json['success']) {
        $('#recurring-description').html(json['success']);
      }
    }
  });
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/cart/add',
    type: 'post',
    data: $('#product input[type=\'number\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
    dataType: 'json',
    beforeSend: function() {
      $('#cart > .btn').removeClass('added');
    },
    complete: function() {
      //$('#button-cart').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      if (json['error']) {
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            var element = $('#input-option' + i.replace('_', '-'));

            if (element.parent().hasClass('input-group')) {
              element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            } else {
              element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            }
          }
        }

        if (json['error']['recurring']) {
          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
        }

        // Highlight any found errors
        $('.text-danger').parent().addClass('has-error');
      }

      if (json['success']) {
        $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        setTimeout(function () {
          $('#cart > .btn').addClass('added');
          $('.button-cart-total').text(json['total']);
          $('.button-cart-sum').text(json['sum']);
          $('#button-cart').html('<span class="cart-icon"></span>В корзине').attr("onclick", "location.href = 'checkout'").addClass('active').unbind();
        }, 100);

        

        $('#cart > ul').load('index.php?route=common/cart/info ul li');
        
        sendYandexEcommerce({
            "id": json['metrika']['id'],
            "name": json['metrika']['name'],
            "price": parseFloat(json['metrika']['price']),
            "category": json['metrika']['category'],
            "quantity": json['metrika']['quantity'],
            "variant" : json['metrika']['variant']
          }, "add");
      }
    },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
  });
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
  language: '{{ datepicker }}',
  pickTime: false
});

$('.datetime').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input').val(json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
  $.ajax({
    url: 'index.php?route=product/product/write&product_id={{ product_id }}',
    type: 'post',
    dataType: 'json',
    data: $("#form-review").serialize(),
    beforeSend: function() {
      $('#button-review').button('loading');
    },
    complete: function() {
      $('#button-review').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible').remove();

      if (json['error']) {
        $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

        $('input[name=\'name\']').val('');
        $('textarea[name=\'text\']').val('');
        $('input[name=\'rating\']:checked').prop('checked', false);
      }
    }
  });
});

$(document).ready(function() {
  $('.swiper-container').swiper({
        mode: 'horizontal',
        slidesPerView: 1,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        autoplay: 2500,
        autoplayDisableOnInteraction: true,
        loop: true
      });
});
//--></script>
<script type="text/javascript">
$(document).ready(function() {
  var cats = "";
  $(".breadcrumb > li:not(:last)").each(function() {
    cats += $(this).find('a').text() + "/";
  });
  cats = cats.substring(0, cats.length - 1);
  {% if options %}
    {% for option in options %}
      {% for option_value in option.product_option_value %}
        sendYandexEcommerce({
              "id": "{{ model }}",
              "name": "{{ heading_title }}",
              "price": parseFloat("{{ option_value.price }}"),
              "category": cats,
              "quantity": 1,
              "variant": "{{ option_value.name }}"
            }, "detail");
      {% endfor %}
    {% endfor %}
  {% else %}
  sendYandexEcommerce({
            "id": "{{ model }}",
            "name": "{{ heading_title }}",
            "price": parseFloat("{{ price_raw }}"),
            "category": cats,
            "quantity": 1,
          }, "detail");
  {% endif %}
});
</script> 
{{ footer }} 
