<div class="mfp-figure">
	<figure>
		<img class="mfp-img" src="{{ popup }}" alt="{{ name }}" style="max-height: 937px;">
		<figcaption>
			<div class="mfp-bottom-bar">
				<div class="mfp-title"></div>
				<div class="mfp-counter"></div>
			</div>
		</figcaption>
	</figure>
</div>