{{ header }}
<div class="container">
	<div class="row">
		{% if albums or first_album %}
			{% if first_album %}
				<div class="album-header flex-center-all" style="background-image:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 52.6%), url('{{ first_album.thumb }}');">
					<div class="col-m-3 col-s-5">
						<p class="button-2 uppercase not-solid-white">Актуальное</p>
						<h1><a class="display-2 solid-white uppercase" href="{{ first_album.href }}">{{ first_album.name }}<img style="margin-left: 16px;" src="/image/src/album-first.svg"></a></h1>
						<p class="album-header-description solid-white">{{ first_album.description }}</p>
					</div>
				</div>
			{% endif %}
		<div id="content">  
	        {% for key, year in albums %}
	        	<div class="flex-container mobile-block">
		        	<div class="album-year col-m-1 col-xs-12">
		        		<p class="display-2 main-black right mobile-left">{{ key }}</p>
		        	</div>
		        	<div class="col-m-4">
		        		<div class="row">
		        			<div class="album-list flex-container mobile-block">
					        	{% for album in year %}
					        		<div class="col-m-half col-s-5">
								        <a href="{{ album.href }}" class="album-thumb">
								            <div class="image" style="background-image: url('{{ album.thumb }}');"></div>
								            <div class="album-name sub-header main-black">
								              <h2>{{ album.name }}</h2>
								            </div>
								        </a>
								    </div>
							    {% endfor %}
							</div>
						</div>
					</div>
				</div>
		    {% endfor %}
		</div>
		<div class="col-m-3 col-center">
			{{ pagination }}
		</div>
		{% else %}
			<p>{{ text_empty }}</p>
		{% endif %}
	</div>
</div>
{{ footer }}