{{ header }}
<div class="container">
  <div class="row">{{ column_left }}
    {% if column_left  and  column_right %}
      {% set class = 'col-sm-6' %}
    {% elseif  column_left  or  column_right %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %} 
    <div id="content" class="{{ class }}">    
      <h2 class="uppercase">{{ heading_title }}</h2>
      <div class="album-description">{{ description }}</div>
        {% if thumb  or  images %}
          <div class="album-wall row catalog-products">
            {% if images %}
              {% for image in images %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                  <div class="og-album-0-3">
                      <a class="popup-pict" href="{{ image.image_popup_link }}" title="{{ image.name }}"> <img src="{{ image.thumb }}" title="{{ image.name }}" alt="{{ image.name }}" /></a>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
        <div class="row">
          <div class="col-sm-12 flex-container flex-center-all" style="margin-bottom: 16px;">{{ pagination }}</div>
        </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div> 
<script type="text/javascript"><!--
$(document).ready(function() {
  $('.album-wall').magnificPopup({
    type:'ajax',
    delegate: 'a',
    gallery: {
      enabled:true
    }
  });
});
//--></script> 
{{ footer }}