{{ header }}
<div class="container">
  <ul class="breadcrumb">
	{% for breadcrumb in breadcrumbs %}
	<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
	{% endfor %}
  </ul>
  <div class="row">{{ column_left }}
		{% if column_left  and  column_right %}
	      {% set class = 'col-sm-6' %}
	    {% elseif  column_left  or  column_right %}
	      {% set class = 'col-sm-9' %}
	    {% else %}
	      {% set class = 'col-sm-12' %}
	    {% endif %} 
	<div id="content" class="{{ class }}">{{ content_top }}
		
		<h1 class="album-title" style="font-family: {{ heading_title_font }} ; font-size: {{ heading_title_size }}px;">{{ heading_title }}</h1>
		
		<div class="video-container">
		{% if video_type == 'youtube' %}
			<iframe width="{{ v_width }}" height="{{ v_height }}" src="//www.youtube.com/embed/{{ video_code }}" frameborder="0" allowfullscreen></iframe><br /><br />
		{% elseif  video_type == 'vimeo' %}
			<iframe src="//player.vimeo.com/video/{{ video_code }}" width="{{ v_width }}" height="{{ v_height }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br /><br />
		{% endif %} 
		</div>
		
		<div class="album-description">{{ description }}</div>
		
	  {{ content_bottom }}</div>
	{{ column_right }}</div>
</div> 
{{ footer }}