<div id="payment" class="text-left" style="display:none;"></div>
<div class="terms" class="text-left">
	<label class="checkbox-container">{% if agreement %}Даю согласие на <a class="agree primary" href="{{ agreement }}" data-title="{{ agreement_title }}">обработку персональных данных</a>{% endif %}
	  <input type="checkbox" name="agree" value="1" {% if rules.default or not rules.display %} checked="checked" {% endif %}>
	  <span class="checkmark"></span>
	</label>
  	<button type="button" id="button-payment-method" class="btn btn-primary zakaz__go" data-loading-text="{{ text_loading }}" {% if disable_button %}{{ 'disabled' }}{% endif %}>{{ button_continue }}</button>
</div>