{% set currentPath = (og_url|split('/')|last) ? og_url|split('/')|last|replace({'/': ''}) : og_url|split('/')|slice(0, -1)|last|replace({'/': ''}) %}
<div id="cart" class="btn-group">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn dropdown-toggle hide-mobile">
    <div>
      <p class="button-cart-total caption">{{ cart_count }}</p>
      <p class="button-cart-sum hide-mobile text-high">{% if cart_count != 0 %}{{ sum }}{% endif %}</p>
    </div>
  </button>
  <ul class="dropdown-menu pull-right hide-mobile">
    {% if products or vouchers %}
    <li class="cart-table">
      <table class="table table-striped">
        {% for product in products %}
        <tr>
          <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
          <td class="text-left">
            <a href="{{ product.href }}" style="display: block;">
              <p class="name black">{{ product.name }}</p>
              <p class="sub-name"></p>
            </a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}
            <div class="mobile">
              x {{ product.quantity }}
            </div>
            <div class="black mobile">
              {{ product.total }}
            </div>
          </td>
          <td class="text-right hide-mobile">x {{ product.quantity }}</td>
          <td class="text-right black hide-mobile">{{ product.total }}</td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li style="margin-top: 16px;">
      <div class="inline-container-center">
        <div class="total" style="flex: 1;">
          <p class="gray">сумма заказа</p>
          <p class="black" style="font-size: 20px;">{{ totals|first.text }}</p>
        </div>
        <a href="{{ checkout }}" class="btn zakaz__click">{{ text_checkout }}</a>
      </div>
    </li>
    {% else %}
    <li>
      <p class="text-center">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
  <a href="checkout" class="btn mobile mobile-block{% if currentPath == 'checkout' %} current{% endif %}">
    <div>
      <p class="button-cart-total caption">{{ cart_count }}</p>
    </div>
  </a>
</div>