<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<script src="catalog/view/javascript/jquery/jquery-3.5.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script async type="text/javascript" src="catalog/view/javascript/jquery.mousewheel.min.js"></script>
<script async type="text/javascript" src="catalog/view/javascript/jquery.plugin.js"></script>
<script type="text/javascript" src="catalog/view/javascript/jquery.mask.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/tippy.all.min.js"></script>
<script async src="catalog/view/javascript/scripts.js"></script>
{% if not city or city == 'Хабаровск' %}
<script defer src="https://tracking.itb-company.com/script/kDcNMnQA6g10vQXV6aMl1RuTso7oOyXXZdgxs9XfusZ86i28aAcYyaLzvLue.js"></script>
{% endif %}
{% if city == 'Южно-Сахалинск' %}
<script defer src="https://tracking.itb-company.com/script/Cmxtl72Jd7P68QsxdA5am456NbPGhrNnJ4RHWqA88RFOTcroScRhd917Wkxb.js"></script>
{% endif %}
{% if city == 'Владивосток' %}
<script defer src="https://tracking.itb-company.com/script/vaHQ7jfc587SYVtvY1BNQOiPwJEQHrtx2sX1x5Z8oKyFDhbUtnUyLnsXKTZc.js"></script>
{% endif %}
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/hamburgers.min.css">
<link href="catalog/view/theme/default/stylesheet/stylesheet.css?v={{ random() }}" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
<link rel="apple-touch-icon" sizes="180x180" href="image/src/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="image/src/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="image/src/favicon/favicon-16x16.png">
<link rel="manifest" href="image/src/favicon/site.webmanifest">
<link rel="mask-icon" href="image/src/favicon/safari-pinned-tab.svg" color="#ee3831">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVZQJNH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
  {% set currentPath = (og_url|split('/')|last) ? og_url|split('/')|last|replace({'/': ''}) : og_url|split('/')|slice(0, -1)|last|replace({'/': ''}) %}
  <div class="flex-center">
    <div class="logo flex-center-all col-m-1 col-xs-6">
      {% if logo %}
        <div class="{% if home == og_url %}flex-center-all{% else %}flex-center flex-justify{% endif %}" style="width: 100%;">
        {% if home == og_url %}
          <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/>
        {% else %}
          <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/></a>
        {% endif %}
          <button class="dropdown-js hamburger hamburger--squeeze {% if home == og_url %}mobile{% endif %}" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      {% else %}
        <h1><a href="{{ home }}">{{ name }}</a></h1>
      {% endif %}
    </div>   
    <div class="header-main flex-center flex-justify flex-list col-m-4 col-xs-6">
      <div class="header-phones hidden-xs">
      {% if not city or city == 'Хабаровск' %}
        <p class="body-1">Звонок по Хабаровску с 9:00 до 19:00</p>
        <div class="price-2 phones-dropdown itb-phone-track">
          <a href="tel:+74212919043" class="itb-phone-track">+7 4212 91-90-43</a>
          <p class="phones-dropdown-menu">
            <a href="tel:+74212919043" class="price-2 main-black drop-arrow-red buy_1_click itb-phone-track">+7 4212 91-90-43</a>
            <a href="tel:+74212919044" class="price-2 main-black buy_1_click">+7 4212 91-90-44</a>
            <a href="tel:+74212919045" class="price-2 main-black buy_1_click">+7 4212 91-90-45</a>
            <a href="tel:+74212773018" class="price-2 main-black buy_1_click">+7 4212 77-30-18</a>
          </p>
        </div>
      {% endif %}
      {% if city == 'Южно-Сахалинск' %}
        <p class="body-1">Звонок по Южно-Сахалинску с 9:00 до 19:00</p>
        <div class="price-2 phones-dropdown itb-phone-track">
          <a href="tel:+74242515609" class="itb-phone-track">+7 4242 515-609</a>
          <p class="phones-dropdown-menu">
            <a href="tel:+74242515609" class="price-2 main-black drop-arrow-red buy_1_click itb-phone-track">+7 4242 515-609</a>
            <a href="tel:+79248888973" class="price-2 main-black buy_1_click">+7 924 888-89-73</a>
            <a href="tel:+79141802097" class="price-2 main-black buy_1_click">+7 914 180-20-97</a>
          </p>
        </div>
      {% endif %}
      {% if city == 'Владивосток' %}
        <p class="body-1">Звонок по Владивостоку с 9:00 до 19:00</p>
        <div class="price-2 phones-dropdown itb-phone-track">
          <a href="tel:+74232614531" class="itb-phone-track">+7 423 261-45-31</a>
          <p class="phones-dropdown-menu">
            <a href="tel:+74232614531" class="price-2 main-black drop-arrow-red buy_1_click itb-phone-track">+7 423 261-45-31</a>
            <a href="tel:+74232614534" class="price-2 main-black buy_1_click">+7 423 261-45-34</a>
          </p>
        </div>
      {% endif %}
      </div>
      <div class="header-links body-2 hidden-xs">
        <ul class="list-inline">
          <li><a href="/about" class="{% if currentPath == 'about' %}active{% endif %} body-2">Компания</a></li>
          <li class="uslugi-dropdown">
            <p class="uslugi-dropdown-link body-2">Услуги</p>
            <div class="uslugi-dropdown-menu">
              <p class="uslugi-dropdown-wrapper">
                <a href="/develop" class="{% if currentPath == 'develop' %}active{% endif %} body-2">Производство</a>
                <a href="/delivery" class="{% if currentPath == 'delivery' %}active{% endif %} body-2">Доставка</a>
                <a href="/discount" class="{% if currentPath == 'discount' %}active{% endif %} body-2">Скидки</a>
              </p>
            </div>
          </li>
          <li><a href="/gallery" class="{% if currentPath == 'gallery' %}active{% endif %} body-2">Фотогалерея</a></li>
          <li><a href="/contacts" class="{% if currentPath == 'contacts' %}active{% endif %} body-2">Контакты</a></li>
          <li><a href="/stocks" style="display: none" class="{% if currentPath == 'stocks' %}active{% endif %} body-2">Акции</a></li>
        </ul>
      </div>
      <div class="header-city city">
        <img src="image/src/location.svg" class="mobile city-city">
        <p class="body-1 hide-mobile">Город:</p>
        <p id="city" class="hide-mobile city-city body-2">{% if city %}{{ city }}{% else %}Хабаровск{% endif %}</p>
      </div>
      <div class="header-social">
        <a class="hide-mobile" href="https://www.instagram.com/metiz_komplekt27/" target="_blank" ref="noopener noreferrer"><img src="/image/src/instagram.svg" alt="Instagram"></a>
        <a class="mobile" href="https://www.instagram.com/metiz_komplekt27/" target="_blank" ref="noopener noreferrer"><img src="/image/src/instagram-mobile.svg" alt="Instagram"></a>
        <a class="hide-mobile" href="https://wa.me/79842552029" target="_blank" ref="noopener noreferrer"><img src="/image/src/whatsapp.svg" alt="WhatsApp"></a>
      </div>
      <div class="header-cart flex-container flex-center flex-list">
        {{ search }}
        {{ cart }}
      </div>
    </div>
  </div>
</header>
<a class="header-whatsapp-mobile mobile" href="https://wa.me/79842552029" target="_blank" ref="noopener noreferrer"><img src="/image/src/whatsapp-mobile.svg" alt="WhatsApp"></a>
{% if not city or city == 'Хабаровск' %}
<a href="tel:+74212919043" class="header-phone-mobile mobile itb-phone-track"><img src="/image/src/phone.svg" alt="Позвонить"></a>
{% endif %}
{% if city == 'Южно-Сахалинск' %}
<a href="tel:+74242515609" class="header-phone-mobile mobile itb-phone-track"><img src="/image/src/phone.svg" alt="Позвонить"></a>
{% endif %}
{% if city == 'Владивосток' %}
<a href="tel:+74232614531" class="header-phone-mobile mobile itb-phone-track"><img src="/image/src/phone.svg" alt="Позвонить"></a>
{% endif %}
<div id="dropdown_menu" class="col-s-5 col-m-1">
  <div id="dropdown_menu_content">
    <div class="dropdown-categories">
      <div class="logo flex-center-all">
        {% if logo %}
          <div class="flex-center flex-justify" style="width: 100%;">
            <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/></a>
            <button class="dropdown-js hamburger hamburger--squeeze is-active" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        {% else %}
          <div class="flex-center flex-justify" style="width: 100%;">
            <h1>{{ name }}</h1>
            <button class="dropdown-js hamburger hamburger--squeeze is-active" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        {% endif %}
      </div>
      <div class="aside-wrapper">
        <ul class="aside-menu mobile list-unstyled">
          <li><p class="aside-catalog flex-container flex-center flex-justify"><span>Каталог</span><img src="image/src/arrow-viewall.svg"></p></li>
          <li><a href="/about" class="{% if currentPath == 'about' %}active{% endif %}">Компания</a></li>
          <li><p class="aside-uslugi flex-container flex-center flex-justify"><span>Услуги</span><img src="image/src/arrow-viewall.svg"></p></li>
          <li><a href="/gallery" class="{% if currentPath == 'gallery' %}active{% endif %}">Фотогалерея</a></li>
          <li><a href="/contacts" class="{% if currentPath == 'contacts' %}active{% endif %}">Контакты</a></li>
          <li><a href="/stocks" class="{% if currentPath == 'stocks' %}active{% endif %}">Акции</a></li>
          <li class="aside-phones">
            <div class="header-phones">
              {% if not city or city == 'Хабаровск' %}
              <p class="body-1 main-gray">Звонок по Хабаровску с 9:00 до 19:00</p><div class="price-2 main-black phones-dropdown">+7 4212 91-90-43<p class="phones-dropdown-menu"><a href="tel:+74212919043" class="price-2 main-black drop-arrow-red buy_1_click">+7 4212 91-90-43</a><a href="tel:+74212919044" class="price-2 main-black buy_1_click">+7 4212 91-90-44</a><a href="tel:+74212919045" class="price-2 main-black buy_1_click">+7 4212 91-90-45</a><a href="tel:+74212773018" class="price-2 main-black buy_1_click"> +7 4212 77-30-18</a></p></div>
              {% endif %}
              {% if city == 'Южно-Сахалинск' %}
                <p class="body-1 main-gray">Звонок по Южно-Сахалинску с 9:00 до 19:00</p><div class="price-2 main-black phones-dropdown">+7 4242 515-609<p class="phones-dropdown-menu"><a href="tel:+74242515609" class="price-2 main-black drop-arrow-red buy_1_click">+7 4242 515-609</a><a href="tel:+79248888973" class="price-2 main-black buy_1_click">+7 924 888-89-73</a><a href="tel:+79141802097" class="price-2 main-black buy_1_click">+7 914 180-20-97</a></p></div>
              {% endif %}
              {% if city == 'Владивосток' %}
                <p class="body-1 main-gray">Звонок по Владивостоку с 9:00 до 19:00</p><div class="price-2 main-black phones-dropdown">+7 423 261-45-31<p class="phones-dropdown-menu"><a href="tel:+74232614531" class="price-2 main-black drop-arrow-red buy_1_click">+7 423 261-45-31</a><a href="tel:+74232614534" class="price-2 main-black buy_1_click">+7 423 261-45-34</a></p></div>
              {% endif %}
            </div>
          </li>
        </ul>
        <ul class="aside-categories aside-categories-menu list-unstyled">
          <li class="mobile" style="margin-bottom: 26px;"><p class="aside-catalog sub-header flex-container flex-center"><img src="image/src/arrow-viewall.svg" style="margin-right: 10px"><span>Каталог</span></p></li>
          {% for category in categories %}
            <li>
              {% if category.sub_categories %}
                <div class="aside-subcategories">
                  <div class="aside-subcategories-wrapper">
                    <p class="sub-header mobile flex-container flex-center" style="margin-bottom: 26px;"><img style="margin-right: 10px" src="image/src/arrow-viewall.svg">{{ category.name }}</p> 
                    {% for sub in category.sub_categories %}
                      <a href="{{ sub.href }}" class="body-2">{{ sub.name }}<span class="body-1 solid-metal">{{ sub.count }}</span><img src="image/src/arrow-viewall-gray.svg"></a>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            <a href="{{ category.href }}" class="body-2 {% if category.sub_categories %}has-subs{% endif %}">{% if category.image %}<img src="{{ category.image }}" alt="{{ category.name }}">{% else %}<img src="/image/category_placeholder.svg" alt="{{ category.name }}">{% endif %}<span>{{ category.name }}</span></a>
            </li>
          {% endfor %}
        </ul>
        <ul class="aside-menu aside-sub-menu aside-uslugi-menu list-unstyled">
          <li><p class="aside-uslugi sub-header flex-container flex-center"><img src="image/src/arrow-viewall.svg" style="margin-right: 10px"><span>Услуги</span></p></li>
          <li><a href="/develop" class="{% if currentPath == 'develop' %}active{% endif %}">Производство</a></li>
          <li><a href="/delivery" class="{% if currentPath == 'delivery' %}active{% endif %}">Доставка</a></li>
          <li><a href="/discount" class="{% if currentPath == 'discount' %}active{% endif %}">Скидки</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  $('.dropdown-js').click(function() {
    $('#dropdown_menu_content').toggleClass('active');
    $('.ocf-offcanvas, .ocfilter-mobile-handle .btn').removeClass('active');
    $('.ocfilter-mobile-handle').toggle();
    $('body').removeClass('modal-open');
    $('.aside-subcategories.active, .aside-categories.active').removeClass('active');
    if ($(window).width() < 768) {
      $('body').toggleClass('no-scroll');
    }
  });
  $('header .search-button').click(function() {
    $('header .search-field').toggleClass('active');
    $('header .search-field input').focus();
  });
  // whenever we hover over a menu item that has a submenu
  $('.aside-categories > li').on('mouseover', function() {
    if ($(window).width() > 767) {
      var $menuItem = $(this),
          $submenuWrapper = $('> div', $menuItem);
    
      // grab the menu item's position relative to its positioned parent
      var menuItemPos = $menuItem.position();
      var submenuHeight = $submenuWrapper.outerHeight();

    
      // place the submenu in the correct position relevant to the menu item
      $submenuWrapper.css({
        top: (menuItemPos.top + submenuHeight < $(window).height()) ? menuItemPos.top : menuItemPos.top - (menuItemPos.top + submenuHeight - $(window).height()),
        left: menuItemPos.left + Math.round($menuItem.outerWidth() * 0.9)
      });
    }
  });

  $('.aside-catalog').click(function(event) {
    $('.aside-categories-menu').toggleClass('active');
  });

  $('.aside-uslugi').click(function(event) {
    $('.aside-uslugi-menu').toggleClass('active');
  });

  $('.aside-categories > li a.has-subs').on('click', function(e) {
    if ($(window).width() < 768) {
      e.preventDefault();
      $(this).prev().addClass('active');
    }
  });

  $('.aside-subcategories .aside-subcategories-wrapper > p').on('click', function(e) {
    $(this).parents('.aside-subcategories').removeClass('active');
  });

  var city_content = '<div class="city-choose"><p class="sub-header"><span class="solid-metal">Ваш город</span> <span class="city-city">{% if city %}{{ city }}{% else %}Хабаровск{% endif %}</span><span class="solid-metal">?</span></p><div class="city-buttons flex-container"><button class="btn btn-rect city-confirm">Да</button><button class="btn btn-rect btn-white city-select">Выбрать другой</button></div></div>';
  var city_select_content = '<div class="city-select-content"><div class="flex-container flex-center flex-justify"><p class="sub-header">Выберите город</p><img class="city-close" style="cursor: pointer; width: 24px; height: 24px;" src="image/src/close.svg"></div><ul class="city-list">';
  {% if cities %}
   {% for c in cities %}
      city_select_content += '<li><p class="body-3" data-cityid="{{ c.customer_group_id }}">{{ c.name }}</p></li>';
    {% endfor %}
  {% endif %}
  city_select_content += '</ul></div>';

  var city = document.querySelector('.city');

  tippy(city, {
            allowHTML: true,
            interactive: true,
            arrow: true,
            duration: 200,
            maxWidth: 347,
            placement: 'bottom-start',
            trigger: 'click',
            theme: 'tippy-white',
            content: city_content,
            onHidden(instance) {
              instance.setContent(city_content);
            }
          });
  var city_tippy = city._tippy;

  {% if not city %}
  city_tippy.show();
  {% endif %}

  $('body').on('click', '.city-close', function() {
    city_tippy.hide();
  });

  $('body').on('click', '.city-confirm', function() {
    var city_chosen = $('#city').text();
    $.ajax({
      url: 'index.php?route=common/city',
      type: 'POST',
      dataType: 'JSON',
      data: {city: city_chosen},
    }).done(function(json) {
      city_content = $(city_content).find('.city-city').text(json['city']).end()[0].outerHTML;
      $('#city').text(json['city']);
      city_tippy.hide();
      $('.header-phones').html(phones[json['city']]);
    });
  });

  $('body').on('click', '.city-select', function() {
    city_tippy.setContent(city_select_content);
  });

  // var phones = {
  //   'Хабаровск': '<p class="body-1">Звонок по Хабаровску с 9:00 до 19:00</p><div class="price-2 phones-dropdown">+7 4212 91-90-43<p class="phones-dropdown-menu"><a href="tel:+74212919043" class="price-2 main-black drop-arrow-red buy_1_click">+7 4212 91-90-43</a><a href="tel:+74212919044" class="price-2 main-black buy_1_click">+7 4212 91-90-44</a><a href="tel:+74212919045" class="price-2 main-black buy_1_click">+7 4212 91-90-45</a><a href="tel:+74212773018" class="price-2 main-black buy_1_click">+7 4212 77-30-18</a></p></div>',
  //   'Южно-Сахалинск': '<p class="body-1">Звонок по Южно-Сахалинску с 9:00 до 19:00</p><div class="price-2 phones-dropdown">+7 4242 515-609<p class="phones-dropdown-menu"><a href="tel:+74242515609" class="price-2 main-black drop-arrow-red buy_1_click">+7 4242 515-609</a><a href="tel:+79248888973" class="price-2 main-black buy_1_click">+7 924 888-89-73</a><a href="tel:+79141802097" class="price-2 main-black buy_1_click">+7 914 180-20-97</a></p></div>',
  //   'Владивосток': '<p class="body-1">Звонок по Владивостоку с 9:00 до 19:00</p><div class="price-2 phones-dropdown">+7 423 261-45-31<p class="phones-dropdown-menu"><a href="tel:+74232614531" class="price-2 main-black drop-arrow-red buy_1_click">+7 423 261-45-31</a><a href="tel:+74232614534" class="price-2 main-black buy_1_click">+7 423 261-45-34</a></p></div>'
  // };

  $('body').on('click', '.city-list > li > p', function() {
    var city_chosen = $(this).text();
    var city_id = $(this).data('cityid');
    $.ajax({
      url: 'index.php?route=common/city',
      type: 'POST',
      dataType: 'JSON',
      data: {city: city_chosen, city_id: city_id},
    }).done(function(json) {
      //city_content = $(city_content).find('.city-city').text(json['city']).end()[0].outerHTML;
      //$('#city').text(json['city']);
      //$('.header-phones').html(phones[json['city']]);
      city_tippy.hide();
      document.location.reload();
    });
  });

</script>