{{ header }}
<div id="common-home" class="container">
  <div class="row">
    <aside class="col-m-1 hidden-xs">
      <ul class="aside-categories list-unstyled">
        {% for category in categories %}
          <li>
            {% if category.sub_categories %}
              <div class="aside-subcategories">
                <div class="aside-subcategories-wrapper">
                  {% for sub in category.sub_categories %}
                    <a href="{{ sub.href }}" class="body-2">{{ sub.name }} <span class="body-1 solid-metal">{{ sub.count }}</span></a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            <a href="{{ category.href }}" class="body-2">{% if category.image %}<img src="{{ category.image }}" alt="{{ category.name }}">{% else %}<img src="/image/category_placeholder.svg" alt="{{ category.name }}">{% endif %}<span>{{ category.name }}</span></a>
          </li>
        {% endfor %}
      </ul>
    </aside> 
    <div id="content" class="col-m-4 col-xs-12">
        <div class="row">
          {{ content_top }}
        </div>
        {{ content_bottom }}
    </div>
  </div>
</div>
{{ footer }}