<div class="product-layout {% if not single_view %}product-home-layout{% endif %} product-grid 
{% if single_view %}
  product-single-view col-sm-12
{% else %}
  col-sm-4 col-xs-12
  {% if not column_left or no_column_left %}
    col-xl-1
  {% else %}
    col-lg-3
{% endif %}{% endif %}">
  <div class="product-thumb">
    <div class="product-thumb-layout flex-container">
      <a href="{{ product.href }}" class="image">
        <img src="{{ product.thumb }}" alt="{{ product.name|replace({'"': ''}) }}" title="{{ product.name|replace({'"': ''}) }}"/>
      </a>
      <div id="product_id-{{ product.product_id }}" class="product-thumb-desc product-js">
        <div class="product-thumb-title flex-container flex-center flex-justify">
          <h3 class="item-title"><a href="{{ product.href }}">{{ product.name }}</a></h3>
            <div>
              {% if not product.special %}
                  <p class="price-2-rouble price-js" data-price="{{ product.price_raw }}">{{ product.price }}</p>{% if product.measure_name %}<span class="body-2 main-gray"> /{{ product.measure_name }}</span>{% endif %}
              {% else %}
                  <p class="price-2-rouble price-new price-js" data-price="{{ product.price_raw }}">{{ product.special }}</p>{% if product.measure_name %}<span class="body-2 main-gray"> /{{ product.measure_name }}</span>{% endif %}
                  <p class="price-old">{{ product.price }}</p>
              {% endif %}
              <div class="product-buy flex-container flex-center flex-wrap">
                <div class="product-buy-quantity flex-container flex-center">
                    <button type="button" class="btn-minus"></button>
                    <input type="number" name="quantity" value="1" min="1" class="caption">
                    <button type="button" class="btn-plus"></button>
                </div>
                {% if not product.in_cart %}
                  <button id="btn-{{ product.product_id }}" type="button" class="btn btn-primary btn-lg" onclick="cart.add('{{ product.product_id }}', $('#product_id-{{ product.product_id }} input[name=quantity]').val(), this)"><span>В корзину</span></button>
                {% else %}
                  <button id="btn-{{ product.product_id }}" class="btn btn-in-cart btn-primary btn-lg active" style="padding: 0;">
                    <a href="checkout">В корзине</a>
                  </button>
                {% endif %}
              </div>
            </div>
        </div>  
      </div>
    </div>
  </div>
</div>