<a href="search" class="btn-search"></a>
<!--div id="search" class="flex-container flex-center">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <button type="button" class="btn btn-search"></button>
</div-->