{{ header }}
<div id="common-success" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ text_message }}
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{% if metrika %}
<script>
  //Yandex Ecommerce
  if (typeof dataLayer != 'undefined') {
    dataLayer.push({
      "ecommerce": {
        "currencyCode": "RUB",
        "purchase": {
          "actionField": {
            "id" : "{{ metrika.actionField.id }}"
          },
          "products": [
            {% for product in metrika.products %}
            {
              "id": "{{ product.id }}",
              "name" : "{{ product.name }}",
              "price": parseFloat("{{ product.price }}"),
              "category": "{{ product.category }}",
              {% if product.variant %}
              "variant": "{{ product.variant }}",
              {% endif %}
              "quantity": "{{ product.quantity }}"
            }{% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
      }
    });
  }
</script>
{% endif %}  
{{ footer }}