<script src="view/javascript/jquery/fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="view/javascript/jquery/fileupload/js/jquery.iframe-transport.js"></script>
<script src="view/javascript/jquery/fileupload/js/jquery.fileupload.js"></script>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">{{ heading_title }}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-5">
          <a href="{{ parent }}" data-toggle="tooltip" title="{{ button_parent }}" id="button-parent" class="btn btn-default"><i class="fa fa-level-up"></i></a> 
          <a href="{{ refresh }}" data-toggle="tooltip" title="{{ button_refresh }}" id="button-refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
          <!--
          <button type="button" data-toggle="tooltip" title="{{ button_upload }}" id="button-upload" class="btn btn-primary"><i class="fa fa-upload"></i></button>
          -->
          <input type="hidden" name="upload_directory" value="{{ directory }}" id="upload_directory">
          <button type="button" data-toggle="tooltip" title="{{ button_upload }}" id="button-upload-multi" class="btn btn-primary"><i class="fa fa-upload"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_folder }}" id="button-folder" class="btn btn-default"><i class="fa fa-folder"></i></button>
          <button type="button" data-toggle="tooltip" title="{{ button_delete }}" id="button-delete" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
          <button type="button" data-toggle="tooltip" title="Добавить изображения" id="btn_mutil_img_add" class="btn btn-success"><i class="fa fa-plus"></i></button>
        </div>
        <div class="col-sm-7">
          <div class="input-group">
            <input type="text" name="search" value="{{ filter_name }}" placeholder="{{ entry_search }}" class="form-control">
            <span class="input-group-btn">
            <button type="button" data-toggle="tooltip" title="{{ button_search }}" id="button-search" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </span></div>
        </div>
      </div>
      <div class="row" style="padding-top: 10px;">
	    <div id="progress" style="padding-left: 15px; color: green;"></div>
	  </div>
	  <div class="row" style="padding-top: 10px; padding-left: 15px;" id="rad_mutil_img_select_div">
      	<label><input type="checkbox" onclick="$('input[name*=\'path\']').prop('checked', this.checked);"/> Выбрать все</label>
	  </div>
      <hr />
    {% for image in images|batch(4) %}
      <div class="row">
        {% for image in image %}
        <div class="col-sm-3 text-center">
          {% if image.type == 'directory' %}
          <div class="text-center"><a href="{{ image.href }}" class="directory" style="vertical-align: middle;"><i class="fa fa-folder fa-5x"></i></a></div>
          <label>
            <input type="checkbox" name="path[]" value="{{ image.path }}" />
            {{ image.name }}</label>
          {% endif %}
          {% if image.type == 'image' %}
          <a href="{{ image.href }}" class="thumbnail"><img src="{{ image.thumb }}" alt="{{ image.name }}" title="{{ image.name }}" /></a>
          <label>
            <input type="checkbox" name="path[]" value="{{ image.path }}" />
            {{ image.name }}</label>
          {% endif %}
        </div>
		{% endfor %}
      </div>
      <br />
	{% endfor %}
    </div>
    <div class="modal-footer">{{ pagination }}</div>
  </div>
</div>
<script type="text/javascript"><!--
var image_row = {{ image_row }};

function addImageHtml(obj) {
	html  = '<tr id="image-row' + image_row + '">';
	html += '  <td class="text-left"><a href="" id="thumb-image' + image_row + '"data-toggle="image" class="img-thumbnail"><img src="' + $(obj).find('img').attr('src') + '" alt="" title="" data-placeholder="{{ placeholder }}" /><input type="hidden" name="album_image[' + image_row + '][image]" value="' + $(obj).parent().find('input').attr('value') + '" id="input-image' + image_row + '" /></td>';
	 html += '  <td class="left"><textarea class="form-control" name="album_image[' + image_row + '][name]" cols="40" rows="3" /></textarea></td>';
	html += '  <td class="text-right"><input type="text" name="album_image[' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	
	$('#images tbody').append(html);
	
	image_row++;
	
	$('#modal-image').modal('hide');
}

function addMultiImageHtml() {
	var img_count = 0;
	var checkboxs = $('input[name^=\'path\']:checked');
	$.each(checkboxs, function(i, checkObj){
	  	var class_name = $(checkObj).parent().parent().find('a').attr('class');
	  	if (class_name == 'thumbnail') {
	  		var img_path = $(checkObj).val();
	  		var img_url = $(checkObj).parent().parent().find('a img').attr('src');
	  		addUnitImageHtml(img_path, img_url);
	  		img_count++;
	  	}
	});
	if (img_count > 0) {
		$('#modal-image').modal('hide');
	} else {
		alert('Please select image.');
	}
}

function addUnitImageHtml(imagePath, imageUrl) {
	html  = '<tr id="image-row' + image_row + '">';
	html += '  <td class="text-left"><a href="" id="thumb-image' + image_row + '"data-toggle="image" class="img-thumbnail"><img src="' + imageUrl + '" alt="" title="" data-placeholder="{{ placeholder }}" /><input type="hidden" name="album_image[' + image_row + '][image]" value="' + imagePath + '" id="input-image' + image_row + '" /></td>';
	 html += '  <td class="left"><textarea class="form-control" name="album_image[' + image_row + '][name]" cols="40" rows="3" /></textarea></td>';
	html += '  <td class="text-right"><input type="text" name="album_image[' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	
	$('#images tbody').append(html);
	
	image_row++;
}

$('#btn_mutil_img_add').on('click', function(e) {
	e.preventDefault();

	addMultiImageHtml();
});

$('a.thumbnail').on('click', function(e) {
	e.preventDefault();

	addImageHtml(this);
});

$('a.directory').on('click', function(e) {
	e.preventDefault();
	
	var multi_href = $(this).attr('href') + '&image_row=' + image_row;
	$(this).attr('href', multi_href);
	
	$('#modal-image').load($(this).attr('href'));
});

$('.pagination a').on('click', function(e) {
	e.preventDefault();
	
	var multi_href = $(this).attr('href') + '&image_row=' + image_row;
	$(this).attr('href', multi_href);
	
	$('#modal-image').load($(this).attr('href'));
});

$('#button-parent').on('click', function(e) {
	e.preventDefault();
	
	var multi_href = $(this).attr('href') + '&image_row=' + image_row;
	$(this).attr('href', multi_href);
	
	$('#modal-image').load($(this).attr('href'));
});

$('#button-refresh').on('click', function(e) {
	e.preventDefault();
	
	var multi_href = $(this).attr('href') + '&image_row=' + image_row;
	$(this).attr('href', multi_href);
	
	$('#modal-image').load($(this).attr('href'));
});

$('#button-search').on('click', function() {
	var url = 'index.php?route=common/galleryfilemanager&user_token={{ user_token }}&directory={{ directory }}' + '&image_row=' + image_row;
	
	var filter_name = $('input[name=\'search\']').val();
	
	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}
							
	{% if thumb %}
	url += '&thumb=' + '{{ thumb }}';
	{% endif %}
	
	{% if target %}
	url += '&target=' + '{{ target }}';
	{% endif %}
			
	$('#modal-image').load(url);
});
//--></script> 
<script type="text/javascript"><!--
$('#button-upload-multi').on('click', function() {
	$('#fileupload').remove();
	var upload_dir = $('#upload_directory').val();
	$('body').prepend('<input id="fileupload" type="file" name="files[]" style="display: none;" data-url="index.php?route=common/galleryfilemanager/multiupload&user_token={{ user_token }}&directory=' + upload_dir + '" multiple>');
	$('#fileupload').fileupload({
	    dataType: 'json',
	    done: function (e, data) {
	    	$('#button-refresh').trigger('click');
	    },
	    progressall: function (e, data) {
	        var progress = parseInt(data.loaded / data.total * 100, 10);
	        $('#progress').html(progress + '%');
	    }
	});
	$('#fileupload').trigger('click');
});

$('#button-folder').popover({
	html: true,
	placement: 'bottom',
	trigger: 'click',
	title: '{{ entry_folder }}',
	content: function() {
		html  = '<div class="input-group">';
		html += '  <input type="text" name="folder" value="" placeholder="{{ entry_folder }}" class="form-control">';
		html += '  <span class="input-group-btn"><button type="button" title="{{ button_folder }}" id="button-create" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></span>';
		html += '</div>';
		
		return html;	
	}
});

$('#button-folder').on('shown.bs.popover', function() {
	$('#button-create').on('click', function() {
		$.ajax({
			url: 'index.php?route=common/galleryfilemanager/folder&user_token={{ user_token }}&directory={{ directory }}',
			type: 'post',		
			dataType: 'json',
			data: 'folder=' + encodeURIComponent($('input[name=\'folder\']').val()),
			beforeSend: function() {
				$('#button-create i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
				$('#button-create').prop('disabled', true);
			},
			complete: function() {
				$('#button-create i').replaceWith('<i class="fa fa-plus-circle"></i>');
				$('#button-create').prop('disabled', false);
			},
			success: function(json) {
				if (json['error']) {
					alert(json['error']);
				}
				
				if (json['success']) {
					alert(json['success']);
										
					$('#button-refresh').trigger('click');
				}
			},			
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});	
});

$('#modal-image #button-delete').on('click', function(e) {
	if (confirm('{{ text_confirm }}')) {
		$.ajax({
			url: 'index.php?route=common/galleryfilemanager/delete&user_token={{ user_token }}',
			type: 'post',		
			dataType: 'json',
			data: $('input[name^=\'path\']:checked'),
			beforeSend: function() {
				$('#button-delete i').replaceWith('<i class="fa fa-circle-o-notch fa-spin"></i>');
				$('#button-delete').prop('disabled', true);
			},	
			complete: function() {
				$('#button-delete i').replaceWith('<i class="fa fa-trash-o"></i>');
				$('#button-delete').prop('disabled', false);
			},		
			success: function(json) {
				if (json['error']) {
					alert(json['error']);
				}
				
				if (json['success']) {
					alert(json['success']);
					
					$('#button-refresh').trigger('click');
				}
			},			
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
});
//--></script>