{% if options or show_price %}
<div class="ocf-offcanvas ocfilter-mobile hidden-sm hidden-md hidden-lg">
  <div class="ocfilter-mobile-handle">
    <button type="button" class="btn btn-primary" data-toggle="offcanvas"><i class="fa fa-close"></i></button>
  </div>
  <div class="ocf-offcanvas-body"></div>
</div>

<div class="panel ocfilter panel-default" id="ocfilter">
  <div class="hidden" id="ocfilter-button">
    <button class="btn btn-primary disabled" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Загрузка.."></button>
  </div>
  <div class="list-group">
    {% include 'default/template/extension/module/ocfilter/selected_filter.twig' %}

    {% include 'default/template/extension/module/ocfilter/filter_price.twig' %}
    {% if categories %}
     <div class="category-subcategories list-group-item">
      <button class="category-subcategories-all active sub-header"><img src="/image/src/drop-arrow-black.svg"><span>Категории</span></button>
      <div class="category-subcategories-list">
        <div>
          {% for cat in categories %}
            <a href="{{ cat.href }}">{{ cat.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% include 'default/template/extension/module/ocfilter/filter_list.twig' %}
  </div>
</div>
<script>
  $('body').on('click', '.category-subcategories-all', function() {
    if ($(this).hasClass('active')) {
      $(this).removeClass('active');
      $('.category-subcategories-list').css('max-height', 0);
    } else {
      $(this).addClass('active');
      $('.category-subcategories-list').css('max-height', $('.category-subcategories-list > div').outerHeight());
    }
    //$('.category-subcategories-list, .category-subcategories-all').addClass('active');
  });
</script>
<script type="text/javascript"><!--
$(function() {

  $('body').on('click', '.ocfilter-dropdown button', function(event) {
    $(this).parent('.ocfilter-dropdown').toggleClass('open');
  });

  $('body').append($('.ocfilter-mobile').remove().get(0).outerHTML);

	var options = {
    mobile: $('.ocfilter-mobile').is(':visible'),
    php: {
      searchButton : {{ search_button ? 'true' : 'false' }},
      showPrice    : {{ show_price ? 'true' : 'false' }},
	    showCounter  : {{ show_counter ? 'true' : 'false' }},
			manualPrice  : {{ manual_price ? 'true' : 'false' }},
      link         : '{{ link }}',
	    path         : '{{ path }}',
	    params       : '{{ params }}',
	    index        : '{{ index }}'
	  },
    text: {
	    show_all: '{{ text_show_all }}',
	    hide    : '{{ text_hide }}',
	    load    : '{{ text_load }}',
			any     : '{{ text_any }}',
	    select  : '{{ button_select }}'
	  }
	};

  if (options.mobile) {
    $('.ocf-offcanvas-body').html($('#ocfilter').remove().get(0).outerHTML);
  }

  $('[data-toggle="offcanvas"]').on('click', function(e) {
    $('[data-toggle="offcanvas"]').toggleClass('active');
    $('body').toggleClass('modal-open');
    $('.ocfilter-mobile').toggleClass('active');
  });

  setTimeout(function() {
    $('#ocfilter').ocfilter(options);
     $('.category-subcategories-list').css('max-height', $('.category-subcategories-list > div').outerHeight());
  }, 1);
});
//--></script>
{% endif %}