{{ header }}
<div id="error-not-found" class="container">
  <ul class="breadcrumb hide">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    <div id="content" class="flex-container flex-column flex-center-all center">
      <h1 class="display-3">{{ text_error }}</h1>
      <div class="buttons">
        <div><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
